.hern-kiosk__kiosk-header {
   height: 10em;
   padding: 2em;
}
.hern-kiosk__content-layout {
   height: calc(100vh - 10em);
   // font-family: Nunito !important;
   // background-color: rgb(247, 222, 204);
}
