.hern-account-loyalty-points__main {
   display: grid;
   grid-template-rows: 1fr;
   min-height: calc(100vh - 64px);
   grid-template-columns: 300px 1fr;
   position: relative;
   max-width: 1200px;
   margin: 27px auto;
   @media (max-width: 768px) {
      display: block;
   }
}
.hern-account-loyalty-points {
   padding-left: 1.5rem;
   padding-right: 1.5rem;
   width: 100%;
   @media (min-width: 768px) {
      // width: 50%;
   }
}
.hern-account-loyalty-points__header {
   margin-top: 1.5rem;
   margin-bottom: 0.75rem;
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-align-items: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: justify;
   -webkit-justify-content: space-between;
   -ms-flex-pack: justify;
   justify-content: space-between;
}
.hern-account-loyalty-points__header__title {
   color: #333333;
   line-height: 2rem;
   font-family: 'Inter';
   font-style: normal;
   font-weight: 600;
   font-size: 24px;
}
.hern-account-loyalty-points__table {
   margin-top: 4.5rem;
   margin-bottom: 11.5rem;
   margin-left: 2.5rem;
   width: 150%;
   border-radius: 10px;
   height: 35%;
   th {
      text-align: left;
      font-style: oblique;
   }
   tr:nth-of-type(even) {
      background-color: rgb(173, 206, 156);
   }
   tr {
      td:last-child {
         text-align: left;
         margin-left: 1%;
      }
   }
}
.hern-account-loyalty-points__table__cell {
   background: #f9f9f9;
   border: 1px solid #e5e5e5;
   box-sizing: border-box;
   padding: 23px;

   // border-radius: 10px 10px 10px 10px;
   // border-radius: 15px;
   // min-width: 100px;
   // border-width: 1px;
   // padding: 0.25rem 0.5rem;
}
.hern-account-loyalty-points__table__comment {
   font-size: 0.875rem;
   line-height: 1.25rem;
   background-color: rgb(222, 224, 228);
}

.hern-account-loyalty-points-available {
   // width: 685px;
   // height: 186px;
   // color: black;
   // background: #ffffff;
   // box-shadow: 0px 0px 1px rgb(29 25 25 / 40%);
   // border-radius: 20px;
   // position: relative;
   // left: 79px;
}

.hern-account-loyalty-points_transaction_history {
   color: black;
   font-size: large;
   font-weight: bold;
   margin: 10px;
   position: relative;
   bottom: -41px;
}
.hern-loyalty-points-icon {
   margin-top: 10%;
}

.hern-account-loyalty-points_header_subtitle {
   color: black;
   // margin-left: 43%;
   // margin-top: -8em;
   font-weight: bolder;
   font-size: larger;
   text-align: center;
   display: flex;
}
.hern-account-loyalty-points-your-available {
   font-family: 'Inter';
   font-style: normal;
   font-weight: 500;
   font-size: 20px;
   color: #333333;
}
.hern-account-loyalty-points-value {
   font-family: 'Inter';
   font-style: normal;
   font-weight: 500;
   font-size: 28px;
   color: #333333;
   margin-left: 5px;
   display: flex;
   align-items: center;
   gap: 4px;
}

.hern-account-loyalty-points-illustration-no-trx {
   position: relative;
   top: 100px;
   left: 0;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.hern-account-loyalty-points-title-no-trx {
   font-family: 'Lato';
   font-style: normal;
   font-weight: 600;
   font-size: 28px;
   color: #333333cc;
   margin-top: 50px;
}

@media screen and (max-width: 767px) {
   .hern-account-loyalty-points-available {
      width: 322px;
      left: -1.5px;
      height: 124px;
   }

   .hern-account-loyalty-points__table {
      margin-left: 0.2rem;
      width: auto;
   }
   .hern-account-loyalty-points-your-available {
      font-size: 13px;
      margin-top: 51px;
   }
   .hern-account-loyalty-points-value {
      font-size: 26px;
      bottom: -2px;
   }
   .hern-account-loyalty-points__table__cell {
      padding: 12px;
   }
   .hern-account-loyalty-points-illustration-no-trx {
      left: 2px;
   }
}

// @media screen and(max-width:){

// }
