.hern-profile__main {
   display: grid;
   grid-template-rows: 1fr;
   min-height: calc(100vh - 64px);
   grid-template-columns: 300px 1fr;
   position: relative;
   margin: 0;
   @media (max-width: 767px) {
      display: block;
   }
}
.hern-profile__profile-form {
   padding-left: 1.5rem;
   padding-right: 1.5rem;
   width: 100%;
   @media (min-width: 768px) {
      width: 40%;
   }
}

.hern-profile__profile-form__header {
   margin-top: 1.5rem;
   margin-bottom: 0.75rem;
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-align-items: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: justify;
   -webkit-justify-content: space-between;
   -ms-flex-pack: justify;
   justify-content: space-between;
}
.hern-profile__profile-form__header__title {
   color: rgba(5, 150, 105, 1);
   font-size: 1.5rem;
   line-height: 2rem;
}
.hern-profile__profile-form__name {
   input {
      border-radius: 0;
      border: 1px solid #7e7e7e;
      padding: 8px 0 8px 8px;
      line-height: 2rem;
      width: 100%;
      @media (min-width: 768px) {
         width: 100%;
      }
   }
   .hern-profile__profile-form__error {
      color: #bf1650;
   }
}
.hern-profile__current-plan {
   padding: 1.5rem;
}
.hern-profile__divider {
   max-width: 420px;
}
.hern-profile__current-plan__heading {
   margin-bottom: 4px;
   color: rgba(5, 150, 105, 1);
}
.hern-profile__current-plan__card {
   padding: 1rem;
   border: 1px solid #cacaca;
   border-radius: 4px;
   display: flex;
   max-width: 420px;
   justify-content: space-between;
   margin-bottom: 24px;
}
.hern-profile__current-plan__card__changeplan-key {
   display: block;
   margin-bottom: 0.25rem;
   color: rgba(55, 65, 81, 1);
   font-size: 0.875rem;
   line-height: 1.25rem;
   -webkit-letter-spacing: 0.025em;
   -moz-letter-spacing: 0.025em;
   -ms-letter-spacing: 0.025em;
   letter-spacing: 0.025em;
}
.hern-profile__current-plan__card__changeplan-value {
   font-weight: 500;
}
.hern-profile__pause-plan__form {
   border: 1px solid #cacaca;
   padding: 1rem;
   border-radius: 4px;
   max-width: 680px;
}
.hern-profile__pause-plan__form__wrapper {
   display: flex;
}
.hern-profile__pause-period-details {
   margin-bottom: 0.5rem;
   color: rgba(107, 114, 128, 1);
   > span {
      color: rgba(31, 41, 55, 1);
   }
}
.hern-profile__cancellation-form {
   border: 1px solid #cacaca;
   padding: 1rem;
   border-radius: 4px;
   max-width: 680px;
}
