.hern-wallet__main {
   display: grid;
   grid-template-rows: 1fr;
   min-height: calc(100vh - 64px);
   grid-template-columns: 300px 1fr;
   position: relative;
   margin: 0;
   @media (max-width: 767px) {
      display: block;
   }
}
.hern-wallet__content {
   padding-left: 1.5rem;
   padding-right: 1.5rem;
   width: 100%;
}

.hern-wallet__header {
   margin-top: 1.5rem;
   margin-bottom: 1.65rem;
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-align-items: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: justify;
   -webkit-justify-content: space-between;
   -ms-flex-pack: justify;
   justify-content: space-between;
}

.hern-wallet__header__title {
   font-weight: 700;
   font-size: 32px;
   line-height: 38px;
}

.hern-wallet__total_balance_title {
   font-weight: 500;
   font-size: 16px;
   color: #202020;
}

.hern-wallet__transaction_title {
   font-weight: 700;
   font-size: 20px;
   line-height: 22px;
   font-variant: small-caps;
   color: #202020;
   margin-top: 28px;
   margin-bottom: 10px;
}

.hern-wallet__balance {
   font-family: 'Roboto';
   font-weight: 700;
   font-size: 23px;
   line-height: 26px;
   color: #202020;
   margin-left: 15px;
}

.hern-wallet__table_wrapper {
   width: 100%;
}

.hern-wallet__table {
   margin: 2.5rem 0.2rem;
   table-layout: auto;
   font-weight: 400;
   font-size: 14px;
   line-height: 16px;
   th {
      text-align: left;
      padding: 0.55rem 5px;
   }
   tr:nth-of-type(even) {
      background-color: rgba(243, 244, 246, 1);
   }
}
.hern-wallet__table__cell {
   border-width: 1px;
   padding: 18px;
   min-width: 99px;
}

.hern-wallet__no_txn {
   position: relative;
   top: 20px;
}

.hern-wallet__referral_code_block {
   color: #202020;
   margin-top: 10px;
   margin-bottom: 25px;
   .hern-wallet__referral_code_title {
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      margin-bottom: 5.5px;
   }

   // .hern-wallet__referral_code_field {
   //    border: 1px dashed var(--hern-accent);
   //    box-sizing: border-box;
   //    border-radius: 10px;
   //    display: flex;
   //    justify-content: space-between;
   //    align-items: center;
   // }
   .hern-wallet__referral_code {
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      padding: 0px 10px;
   }
   .hern-wallet__referral_code_copy {
      background-color: var(--hern-accent);
      color: #fff;
      border-radius: 0px 10px 10px 0px;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      padding: 5px 10px;
      display: flex;
      justify-content: center;
      align-items: center;
   }
}

@media (max-width: 568px) {
   .hern-wallet__header__title {
      font-size: 28px;
      line-height: 28px;
   }

   .hern-wallet__referral_code_block {
      .hern-wallet__referral_code {
         font-size: 11px;
         line-height: 11px;
      }
      .hern-wallet__referral_code_copy {
         font-size: 12px;
      }
   }

   .hern-wallet__table__cell {
      padding: 0.25rem 0.2rem;
   }
}

@media (max-width: 376px) {
   .hern-wallet__referral_code_block {
      .hern-wallet__referral_code_copy {
         font-size: 9px;
      }
   }
}
.hern-wallet_no_txn {
   position: relative;
   bottom: 7px;
   left: 27px;
}

@media screen and (max-width: 767px) {
   .hern-wallet_no_txn {
      left: -6px;
      top: 30px;
   }
   .hern-wallet__table__cell {
      border-width: 1px;
      min-width: 60px;
      padding: 10px;
   }
}
.hern-wallet-wallet-illustration {
   background: #ffffff;
   box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
   border-radius: 20px;
   padding: 96px;
   position: relative;
   margin-bottom: 96px;
   > p {
      color: #2e186a;
      text-align: center;
      margin-top: 16px;
      font-weight: 700;
   }
   > a {
      background-color: var(--hern-accent);
      color: #fff;
      padding: 6px 12px;
      position: absolute;
      border-radius: 12px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 280px;
      bottom: -24px;
      left: 50%;
      transform: translateX(-50%);
      font-weight: 500;
      > span {
         display: inline-block;
         background-color: #fff;
         padding: 8px 12px;
         border-radius: 6px;
      }
   }
}
