.hern-login {
   padding-top: 2rem;
   margin: auto;
   overflow-y: auto;
   max-width: 1180px;
   width: calc(100vw - 40px);
   min-height: calc(100vh - 128px);
   > section {
      width: 100%;
      max-width: 360px;
   }
}
.hern-login__tab-list {
   border-bottom-width: 1px;
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -webkit-justify-content: center;
   -ms-flex-pack: center;
   justify-content: center;
}
.hern-login__tab {
   height: 2rem;
   padding-left: 0.75rem;
   padding-right: 0.75rem;
}
.hern-login__tab--active {
   border-bottom-width: 2px;
   border-color: rgba(16, 185, 129, 1);
}
.hern-login__panel {
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   margin-left: auto;
   margin-right: auto;
   -webkit-box-pack: center;
   -webkit-justify-content: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-align-items: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-flex-direction: column;
   -ms-flex-direction: column;
   flex-direction: column;
   padding-top: 1rem;
   padding-bottom: 1rem;
}
.hern-login__fieldset {
   width: 100%;
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-flex-direction: column;
   -ms-flex-direction: column;
   flex-direction: column;
   margin-bottom: 1rem;
}
.hern-login__label {
   color: rgba(75, 85, 99, 1);
   margin-bottom: 0.25rem;
}
.hern-login__input {
   width: 100%;
   display: block;
   border-width: 1px;
   height: 2.5rem;
   border-radius: 0.25rem;
   padding-left: 0.5rem;
   padding-right: 0.5rem;
   outline: 2px solid transparent;
   outline-offset: 2px;
}
.hern-login__submit-btn {
   background-color: rgba(16, 185, 129, 1);
   border-radius: 0.25rem;
   width: 100%;
   height: 2.5rem;
   color: rgba(255, 255, 255, 1);
   text-transform: uppercase;
   -webkit-letter-spacing: 0.05em;
   -moz-letter-spacing: 0.05em;
   -ms-letter-spacing: 0.05em;
   letter-spacing: 0.05em;
}
.hern-login__submit-btn--disabled {
   cursor: not-allowed;
   background-color: rgba(209, 213, 219, 1);
   color: rgba(55, 65, 81, 1);
}
.hern-login__forgot-password-btn {
   -webkit-align-self: flex-start;
   -ms-flex-item-align: start;
   align-self: flex-start;
   margin-bottom: 0.5rem;
   color: rgba(59, 130, 246, 1);
}
.hern-login__register-btn {
   -webkit-align-self: flex-start;
   -ms-flex-item-align: start;
   align-self: flex-start;
   margin-bottom: 0.5rem;
   color: rgba(59, 130, 246, 1);
}
.hern-login__error {
   -webkit-align-self: flex-start;
   -ms-flex-item-align: start;
   align-self: flex-start;
   display: block;
   color: rgba(239, 68, 68, 1);
   margin-top: 0.5rem;
}
