.hern-on-demand-order-container {
   height: calc(100vh - 64px);
}
.hern-on-demand-page {
   padding: 0;
   width: 100%;
   background-color: #e5e5e5;
   height: calc(100vh - 64px);
   display: block;
   overflow-y: auto;
   box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
   position: relative;
   &::-webkit-scrollbar {
      width: 0;
   }
}
.hern-on-demand-page-content {
   background-color: #fafafa;
   min-height: 100vh;
   display: flex;
   padding-bottom: 1em;
   flex-direction: column;
   position: relative;
   padding-bottom: 5em;
}
.hern-product-category-heading {
   font-style: italic;
   font-weight: normal;
   font-size: 24px;
   line-height: 28px;
   color: #555b6e;
   padding-left: 0.64em;
   padding-right: 1em;
   padding-top: 0.4em;
   padding-bottom: 0.4em;
}
@media only screen and (min-width: 769px) {
   .hern-on-demand-order-container {
      background-color: rgb(251, 252, 246);
      display: flex;
      justify-content: center;
   }
   .hern-on-demand-page {
      padding: 0;
      width: 28em;
      background-color: aliceblue;
   }
}
