.hern-on-demand-order-container {
   height: calc(100vh - 64px);
}
.hern-on-demand-page {
   padding: 0;
   width: 100%;
   height: calc(100vh - 64px);
   display: block;
   overflow-y: auto;
   position: relative;
   &::-webkit-scrollbar {
      width: 0;
   }
}
.hern-on-demand-page-content--navigationAnchor--active {
   margin-top: 60px;
}
.hern-on-demand-page-pop-up--active {
   overflow: hidden;
}
.hern-on-demand-page-content {
   min-height: 100vh;
   display: flex;
   padding-bottom: 1em;
   flex-direction: column;
   position: relative;
   padding-bottom: 5em;
}
.hern-product-category-heading {
   font-style: italic;
   font-weight: normal;
   font-size: 24px;
   line-height: 28px;
   color: #555b6e;
   padding-left: 0.64em;
   padding-right: 1em;
   padding-top: 0.4em;
   padding-bottom: 0.4em;
   scroll-margin: 6em 0 0 0;
}

.hern-on-demand-product-custom-area {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
   align-items: flex-start;
   .hern-custom-area-add-btn {
      width: 80px;
      padding: 0;
      width: 100%;
      height: 36px;
      border-radius: 4px;
   }
   > span {
      font-style: normal;
      font-weight: normal;
      font-size: 10px;
      line-height: 12px;
      color: #40404099;
      margin: 2px 0;
   }
}
.hern-on-demand-order--product-card {
   width: 100%;
}

@media only screen and (min-width: 769px) {
   .hern-on-demand-order-container {
      display: grid;
      grid-template-columns: 1fr 2fr 1fr;
      max-width: 1200px;
      margin: 0 auto;
   }
   .hern-on-demand-page {
      border-radius: 4px;
      margin-top: 2rem;
   }
   .hern-on-demand-menu__wrapper {
      grid-area: 1;
   }
   .hern-on-demand-menu {
      display: none;
   }
   .hern-on-demand-menu-list-container {
      position: relative;
      height: 100% !important;
      background: unset;
      justify-content: flex-end;
      grid-area: 1;
   }
   .hern-on-demand-menu-list {
      position: static;
      font-family: Nunito;
      font-style: italic;
      font-weight: 600;
      font-size: 5em;
      line-height: 7em;
      text-align: right;
      box-shadow: unset;
      width: auto;
      > ul > li {
         padding: 12px 0;
      }
      > ul > li > a {
         color: #555b6e;
         justify-content: flex-end;
      }
      > ul > li > a:hover {
         text-decoration: none;
      }
   }
   .hern-bottom-cart-bar {
      display: none;
   }
   .hern-order__cartbar {
      display: block;
      padding: 8px;
   }
   .hern-on-demand-menu__li--active {
      border-right: 4px solid #367bf5;
      > a {
         color: #367bf5 !important;
         padding: 0 16px;
      }
   }

   .hern-cart-content {
      min-height: unset !important;
      background: unset !important;
      > header {
         box-shadow: unset !important;
      }
   }
   .hern-cart-empty-cart-start__md {
      justify-content: flex-start !important;
   }
   .hern-cart-container {
      background: none !important;
   }
   .hern-on-demand-order-container--fixed-top-nav {
      grid-template-columns: 2fr 1fr !important;
   }
   .hern-on-demand-order--product-card {
      width: calc(100% / var(--hern-number-of-products)) !important;
   }
}
