// .hern-on-demand-order-container {
//    height: calc(100vh - 64px);
// }
.hern-on-demand-page {
   padding: 0;
   width: 100%;
   // height: calc(100vh - 64px);
   display: block;
   overflow-y: auto;
   position: relative;

   &::-webkit-scrollbar {
      width: var(--hern-order-product-section-scroll-width);
   }
   /* Track */
   &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      border-radius: 10px;
   }

   /* Handle */
   &::-webkit-scrollbar-thumb {
      -webkit-border-radius: 10px;
      border-radius: 10px;
      background: #e5e5e5;
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
   }
   &::-webkit-scrollbar-thumb:window-inactive {
      background: #e5e5e5;
   }
}
.hern-on-demand-page-content--navigationAnchor--active {
   margin-top: 60px;
}
.hern-on-demand-page-pop-up--active {
   overflow: hidden;
}
.hern-on-demand-page-content {
   min-height: 100vh;
   display: flex;
   padding-bottom: 1em;
   flex-direction: column;
   position: relative;
   padding-bottom: 5em;
}
.hern-product-category-heading {
   font-style: italic;
   font-weight: normal;
   font-size: 24px;
   line-height: 28px;
   color: #555b6e;
   // padding-left: 0.64em;
   // padding-right: 1em;
   margin-left: 0.64em;
   margin-right: 1em;
   padding-top: 0.4em;
   padding-bottom: 0.4em;
   scroll-margin: 6em 0 0 0;
}
.hern-product-category-heading-with-bg {
   border-bottom: 2px solid black;
   width: 100%;
   padding-bottom: 0.2em;
}
.hern-on-demand-product-custom-area {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
   align-items: flex-start;
   @media (max-width: 479px) {
      width: 90%;
   }
   > span {
      font-style: normal;
      font-weight: normal;
      font-size: 10px;
      line-height: 12px;
      color: #40404099;
      margin: 2px 0;
   }
}
.hern-custom-area-add-btn {
   padding: 0;
   width: 100%;
   height: 36px;
   border-radius: 4px;
   font-family: 'Inter';
   font-style: normal;
   font-weight: 600;
   font-size: 12px;
   line-height: 15px;
   text-align: center;
   letter-spacing: 0.02em;
   &:hover {
      transform: translateY(0) !important;
      box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000,
         0 10px 15px -3px rgba(0, 0, 0, 0.1) !important;
   }
   &:active {
      box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
      border-radius: 20px;
   }
   @media (max-width: 479px) {
      height: 30px;
   }
}
.hern-custom-area-add-btn--rounded {
   border-radius: 20px;
}
.hern-on-demand-product-custom-area--no-full-width {
   max-width: 40%;
   align-items: center;
}
.hern-on-demand-order--product-card {
   width: 100%;
   @media (max-width: 479px) {
      max-width: 100% !important;
   }
}
.hern-on-demand-order--product-card-with-bg{
   height: 490px;
   background-color: rgba(190, 190, 190, 0.2);
   @media (max-width:479px){
      height: 200px;
   }
}
.hern-store__order-category-name-wrapper {
   position: relative;
}
.hern-store__order-category-name-wrapper-with-bg {
   height: 95px;
   display: flex;
   align-items: center;
}
.hern-store__order-category-name-wrapper-bg-image {
   position: absolute;
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   width: 150px;
   height: 150px;
}
@media only screen and (min-width: 769px) {
   .hern-on-demand-order-container {
      display: grid;
      grid-template-columns: 1fr 2fr 1fr;
      max-width: 1200px;
      margin: 0 auto;
   }
   .hern-on-demand-page {
      border-radius: 4px;
      margin-top: 2rem;
   }
   .hern-on-demand-menu__wrapper {
      grid-area: 1;
   }
   .hern-on-demand-menu {
      display: none;
   }
   .hern-on-demand-menu-list-container {
      position: relative;
      height: 100% !important;
      background: unset;
      justify-content: flex-end;
      grid-area: 1;
   }
   .hern-on-demand-menu-list {
      position: static;
      font-family: Nunito;
      font-style: italic;
      font-weight: 600;
      font-size: 5em;
      line-height: 7em;
      text-align: right;
      box-shadow: unset;
      width: auto;
      > ul > li {
         padding: 12px 0;
      }
      > ul > li > a {
         color: #555b6e;
         justify-content: flex-end;
      }
      > ul > li > a:hover {
         text-decoration: none;
      }
   }
   .hern-bottom-cart-bar {
      display: none;
   }
   .hern-order__cartbar {
      display: block;
      padding: 8px;
   }
   .hern-on-demand-menu__li--active {
      border-right: 4px solid #367bf5;
      > a {
         color: #367bf5 !important;
         padding: 0 16px;
      }
   }

   .hern-cart-content {
      min-height: unset !important;
      background: unset !important;
      > header {
         box-shadow: unset !important;
      }
   }
   .hern-cart-empty-cart-start__md {
      justify-content: flex-start !important;
   }
   .hern-cart-container {
      background: none !important;
   }
   .hern-on-demand-order-container--fixed-top-nav {
      grid-template-columns: 2fr 1fr !important;
   }
   .hern-on-demand-order-container--fixed-top-nav--full-width {
      grid-template-columns: 1fr;
   }
   .hern-on-demand-order--product-card {
      width: calc(100% / var(--hern-number-of-products)) !important;
   }
}
