// List View Styles
.hern-plans {
   justify-content: space-between;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   max-width: 1200px;

   &__wrapper {
      max-width: 1200px;
      width: calc(100vw - 2rem);
      margin: 16px auto;
   }
   &__heading {
      font-family: 'Lato';
      font-size: 24px;
      font-weight: 600;
      text-align: center;
      margin: 32px 0;
   }
}

.hern-plan {
   display: flex;
   align-items: center;
   background: #ffffff;
   box-shadow: 0px 1px 12px rgb(0 0 0 / 10%);
   border-radius: 24px;
   padding: 25px 38px;
   margin-bottom: 16px;
   width: 100%;
   &__cover-image {
      width: 100%;
      height: 100%;
      border-radius: 12px 12px 0 0;
      max-height: 230px;
      overflow: hidden;
      display: none;
      > img {
         width: 100%;
         height: 100%;
         object-fit: cover;
         aspect-ratio: 2 / 1;
      }
   }
   &__icon-title-wrapper {
      display: flex;
      align-items: center;
      width: 250px;
      margin-right: 12px;
   }
   &__title {
      margin-left: 8px;
      > span {
         font-family: 'Lato';
         font-style: normal;
         font-weight: 700;
         font-size: 18px;
         color: #333333;
         line-height: 1.2;
      }
   }
   &__description {
      font-family: 'Lato';
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: #333333;
      padding: 0 16px;
   }
   &__icon {
      height: 40px;
      width: 40px;
      border-radius: 50%;
      > img {
         width: 100%;
         height: 100%;
         object-fit: cover;
         border-radius: 50%;
         aspect-ratio: 1 / 1;
      }
   }

   &__servings {
      width: 240px;
   }
   &__servings__label {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: rgba(51, 51, 51, 0.6);
      text-transform: capitalize;
      margin-bottom: 6px;
   }
   &__servings__arrow-btn--left {
      position: absolute;
      left: -20px;
   }

   &__servings__list__wrapper {
      display: flex;
      align-items: center;
      gap: 4px;
      position: relative;
   }

   &__servings__list {
      display: flex;
      gap: 8px;
   }
   &__servings__list-item {
      padding: 4px 16px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      color: rgba(51, 51, 51, 0.6);
      background-color: rgba(17, 130, 59, 0.2);
      border-radius: 2px;
      cursor: pointer;
      width: 42px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
         opacity: 0.7;
      }
   }
   &__servings__list-item--active {
      color: #fff !important;
      background-color: var(--hern-accent) !important;
      &:hover {
         opacity: 0.7;
      }
   }

   //Item counts
   &__item-counts {
      width: 240px;
   }
   &__item-counts__label {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: rgba(51, 51, 51, 0.6);
      width: 135px;
      text-transform: capitalize;
      margin-bottom: 6px;
   }
   &__item-counts__arrow-btn--left {
      position: absolute;
      left: -20px;
   }
   &__item-counts__arrow-btn--right {
      position: absolute;
      right: -20px;
   }
   &__item-counts__list__wrapper {
      display: flex;
      align-items: center;
      gap: 4px;
      position: relative;
   }

   &__item-counts__list {
      display: flex;
      gap: 8px;
   }
   &__item-counts__list-item {
      padding: 4px 16px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      color: rgba(51, 51, 51, 0.6);
      background-color: rgba(17, 130, 59, 0.2);
      border-radius: 2px;
      cursor: pointer;
      width: 42px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
         opacity: 0.7;
      }
   }
   &__item-counts__list-item--active {
      color: #fff !important;
      background-color: var(--hern-accent) !important;
      &:hover {
         opacity: 0.7;
      }
   }
   &__pricing {
      font-weight: 500;
      font-size: 14px;
      line-height: 1.2;
      color: rgba(51, 51, 51, 0.6);
      text-transform: capitalize;
      font-family: 'Lato';

      span {
         font-family: 'Lato';
      }
   }
   &__pricing-total-price-serving-wrapper {
      margin-bottom: 4px;
   }
   &__pricing__total-serving {
      font-family: 'Lato';
   }
   &__pricing__price-per-plan {
      font-family: 'Lato';
   }
   &__pricing__total-price {
      font-family: 'Lato';
   }
   &__pricing__total-price__price {
      font-size: 14px;
      font-weight: 600;
   }
   &__pricing__total-price__tax {
      font-size: 10px;
      font-style: italic;
      display: inline-block;
      margin-right: 4px;
   }
   &__select-plan__btn {
      border-radius: 999999999px;
      padding: 16px 30px;
      background-color: var(--hern-accent);
      font-weight: 500;
      font-family: 'Inter';
      font-size: 18px;
      color: #fff;
      margin-left: auto;
      &:hover {
         background-color: rgba(17, 130, 59, 0.2);
         color: rgba(51, 51, 51, 0.6);
      }
   }
}

@media (max-width: 1024px) {
   .hern-plan {
      display: block;
      padding: unset;

      &__cover-image {
         display: block;
         margin-bottom: 14px;
      }

      &__select-plan__btn {
         // width: 100%;

         width: calc(100% - 32px);
         display: flex;
         margin: 0 16px 16px 16px;
         border-radius: 999999999px;
         padding: 12px;
         background-color: var(--hern-accent);
         justify-content: center;
         align-items: center;
         font-weight: 500;
         font-family: 'Inter';
         font-size: 18px;
         color: #fff;
      }

      &__icon-title-wrapper {
         display: flex;
         align-items: center;
         margin: 16px;
      }

      &__servings {
         display: flex;
         padding: 0 16px;
         margin-top: 32px;
         align-items: center;
         justify-content: space-between;
         width: 100%;
      }

      &__item-counts {
         display: flex;
         padding: 0 16px;
         margin-top: 16px;
         align-items: center;
         justify-content: space-between;
         width: 100%;
      }

      &__pricing {
         margin: 40px 0 16px 0;
         padding: 0 16px;
         font-weight: 600;
         font-size: 14px;
         line-height: 17px;
         color: rgba(51, 51, 51, 0.6);
         text-transform: capitalize;
         display: flex;
         justify-content: space-between;
      }
   }
}

.hern-plans__skeletons {
   margin: auto;
   max-width: 1200px;
   width: calc(100vw - 40px);
   display: flex;
   justify-content: center;
   display: grid;
   grid-gap: 24px;
   grid-template-columns: 1fr 1fr;
   padding: 24px 0;
   > li {
      height: 420px;
      display: flex;
      flex-direction: column;
      border-radius: 16px;
      padding: 0.75rem;
      border-width: 1px;
      > header {
         @extend %loading;
         height: 40px;
         width: 58.333333%;
      }
      > main {
         margin-top: 1.5rem;
         margin-bottom: 1.5rem;

         > section {
            @extend %loading;
            height: 4rem;
            border-radius: 8px;
            &:first-of-type(1) {
               width: 80%;
            }
            margin-bottom: 1.5rem;
         }
      }
      > footer {
         margin-top: auto;
         > span {
            @extend %loading;
            height: 3rem;
            border-radius: 9999px;
            display: block;
         }
      }
   }
   @media (max-width: 1024px) {
      grid-template-columns: 1fr;
      > li {
         width: 100%;
         max-width: 100%;
      }
   }
}
%loading {
   animation: loading 1s linear infinite alternate;
   @keyframes loading {
      0% {
         background-color: hsl(200, 20%, 90%);
      }
      100% {
         background-color: hsl(200, 20%, 95%);
      }
   }
}

// Card View Styles
.hern-plans__card {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
   grid-gap: 80px;
   justify-content: center;
   align-items: center;
   margin-bottom: 64px;

   &__wrapper {
      max-width: 980px;
      width: calc(100vw - 2rem);
      margin: 16px auto;
   }
   &__heading {
      font-family: 'Lato';
      font-size: 24px;
      font-weight: 600;
      text-align: center;
      margin: 32px 0;
   }
}

.hern-plan__card {
   background: #ffffff;
   box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
   border-radius: 12px;
   height: 100%;
   &__cover-image {
      width: 100%;
      height: 100%;
      border-radius: 12px 12px 0 0;
      max-height: 230px;
      overflow: hidden;
      > img {
         width: 100%;
         height: 100%;
         object-fit: cover;
         aspect-ratio: 2 / 1;
      }
   }
   &__icon-title-wrapper {
      display: flex;
      align-items: center;
      margin: 16px;
   }
   &__title {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      margin-left: 8px;
      > span {
         font-family: 'Lato';
         font-style: normal;
         font-weight: 600;
         font-size: 20px;
         color: #333333;
      }
   }
   &__description {
      font-family: 'Lato';
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: #333333;
      padding: 0 16px;
   }
   &__icon {
      height: 24px;
      width: 24px;
      border-radius: 50%;
      > img {
         width: 100%;
         height: 100%;
         object-fit: cover;
         border-radius: 50%;
         aspect-ratio: 1 / 1;
      }
   }

   &__servings {
      display: flex;
      padding: 0 16px;
      margin-top: 32px;
      align-items: center;
   }
   &__servings__label {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: rgba(51, 51, 51, 0.6);
      width: 180px;
      text-transform: capitalize;
   }
   &__servings__arrow-btn--left {
      position: absolute;
      left: -20px;
   }
   &__servings__arrow-btn--right {
      position: absolute;
      right: -20px;
   }
   &__servings__list__wrapper {
      display: flex;
      align-items: center;
      gap: 4px;
      position: relative;
   }

   &__servings__list {
      display: flex;
      gap: 8px;
   }
   &__servings__list-item {
      padding: 4px 16px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      color: rgba(51, 51, 51, 0.6);
      background-color: rgba(17, 130, 59, 0.2);
      border-radius: 2px;
      cursor: pointer;
      width: 42px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
         opacity: 0.7;
      }
   }
   &__servings__list-item--active {
      color: #fff !important;
      background-color: var(--hern-accent) !important;
      &:hover {
         opacity: 0.7;
      }
   }

   //Item counts
   &__item-counts {
      display: flex;
      padding: 0 16px;
      margin-top: 16px;
      align-items: center;
   }
   &__item-counts__label {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: rgba(51, 51, 51, 0.6);
      width: 180px;
      text-transform: capitalize;
   }
   &__item-counts__arrow-btn--left {
      position: absolute;
      left: -20px;
   }
   &__item-counts__arrow-btn--right {
      position: absolute;
      right: -20px;
   }
   &__item-counts__list__wrapper {
      display: flex;
      align-items: center;
      gap: 4px;
      position: relative;
   }

   &__item-counts__list {
      display: flex;
      gap: 8px;
   }
   &__item-counts__list-item {
      padding: 4px 16px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      color: rgba(51, 51, 51, 0.6);
      background-color: rgba(17, 130, 59, 0.2);
      border-radius: 2px;
      cursor: pointer;
      width: 42px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
         opacity: 0.7;
      }
   }
   &__item-counts__list-item--active {
      color: #fff !important;
      background-color: var(--hern-accent) !important;
      &:hover {
         opacity: 0.7;
      }
   }
   &__pricing {
      margin: 40px 0 16px 0;
      padding: 0 16px;
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      color: rgba(51, 51, 51, 0.6);
      text-transform: capitalize;
      span {
         font-family: 'Lato';
      }
   }
   &__pricing-total-price-serving-wrapper {
      display: flex;
      justify-content: space-between;
      margin-bottom: 12px;
   }
   &__pricing__total-serving {
      font-family: 'Lato';
   }
   &__pricing__price-per-plan {
      font-family: 'Lato';
   }
   &__pricing__total-price {
      font-family: 'Lato';
   }
   &__pricing__total-price__price {
      font-size: 20px;
      font-weight: 600;
   }
   &__pricing__total-price__tax {
      font-size: 10px;
      font-style: italic;
      display: inline-block;
      margin-right: 4px;
   }
   &__select-plan__btn {
      width: calc(100% - 32px);
      display: flex;
      margin: 0 16px 16px 16px;
      border-radius: 999999999px;
      padding: 16px 30px;
      background-color: var(--hern-accent);
      justify-content: center;
      align-items: center;
      font-weight: 500;
      font-family: 'Inter';
      font-size: 18px;
      color: #fff;
      &:hover {
         background-color: rgba(17, 130, 59, 0.2);
         color: rgba(51, 51, 51, 0.6);
      }
   }
}

// Aggregate View styles
.hern-plans__aggregate {
   display: grid;
   grid-template-columns: 1fr 8px 1fr;
   margin: 58px 100px;
   gap: 30px;

   &__left {
      padding-right: 6.25em;
   }

   &__card {
      height: 100%;
   }

   &__divider {
      width: 4px;
      background-color: rgba(51, 51, 51, 0.4);
      height: 240px;
      align-self: center;
      position: relative;
      left: 19px;
   }

   &__right {
      padding-left: 8.25em;
   }

   &__title-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 36px;

      .hern-plans__aggregate__title {
         font-family: 'Inter';
         font-style: normal;
         font-weight: 500;
         font-size: 24px;
         line-height: 29px;
         color: #333333;
      }

      & > span {
         color: #ffffff;
         font-family: 'Inter';
         font-style: normal;
         font-weight: 400;
         font-size: 18px;
         line-height: 22px;
         background-color: rgba(51, 51, 51, 0.4);
         width: 40px;
         height: 40px;
         display: flex;
         align-items: center;
         justify-content: center;
         border-radius: 50%;
         margin-right: 8px;
      }
   }

   &__selectedPlan-title {
      color: #333333;
      font-family: 'Lato';
      font-style: normal;
      font-weight: 500;
      font-size: 28px;
      margin-top: 82px;
      margin-bottom: 33px;
   }

   &__cards-wrapper {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(226px, 1fr));
      grid-gap: 22px;
      align-items: center;
      padding-right: 20px;
      height: 500px;
      overflow-y: scroll;
   }

   &__cards-wrapper::-webkit-scrollbar {
      width: 0.313em;
   }
   &__cards-wrapper::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
   }
   &__cards-wrapper::-webkit-scrollbar-thumb {
      background-color: rgba(51, 51, 51, 0.4);
      outline: 1px solid rgba(51, 51, 51, 0.4);
   }

   @media (max-width: 1024px) {
      grid-template-columns: 1fr;
      margin: 58px 20px;

      &__left {
         padding: unset;
      }

      &__divider {
         width: 240px;
         height: 4px;
         justify-self: center;
         margin: 30px 0px;
      }

      &__right {
         padding: unset;
         width: 500px;
         margin: 0 auto;
      }
   }
}

.hern-plan__aggregate {
   position: relative;
   height: 100%;

   &__cover-image {
      border-radius: 6px;
      position: relative;
      height: 100%;
      object-fit: cover;
   }

   &__overlay {
      width: 100%;
      height: 100%;
      border-radius: 6px;
      position: absolute;
      top: 0;
      left: 0;
      background: linear-gradient(
         180deg,
         rgba(51, 51, 51, 0) 50%,
         rgba(51, 51, 51, 0.93) 85.16%
      );

      cursor: pointer;
   }

   &__plan__img {
      width: 100%;
      height: 100%;
      border-radius: 6px;
   }

   &__icon-title-wrapper {
      display: flex;
      align-items: center;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      position: absolute;
      bottom: 8px;
      left: 10px;
   }

   &__title {
      color: #fff;
   }

   &__servings {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 30px;
   }

   &__item-counts {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 30px;
   }

   &__pricing {
      margin-bottom: 30px;
   }

   &__pricing-total-price-serving-wrapper {
      color: rgba(51, 51, 51, 0.6);
      font-family: 'Lato';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
   }

   &__pricing-total-price-serving-wrapper {
      display: flex;
      justify-content: space-between;
      margin-bottom: 8px;
   }

   &__pricing__total-price {
      font-family: 'Lato';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      color: rgba(51, 51, 51, 0.6);
   }

   &__select-plan__btn {
      width: 100%;
      display: flex;
      border-radius: 999999999px;
      padding: 16px 30px;
      background-color: var(--hern-accent);
      justify-content: center;
      align-items: center;
      font-weight: 500;
      font-family: 'Inter';
      font-size: 18px;
      color: #fff;
      &:hover {
         background-color: rgba(17, 130, 59, 0.2);
         color: rgba(51, 51, 51, 0.6);
      }
   }
}
