/*This styles are same for select plan*/
/*TODO: Our plans should be changed*/
/*Plans component*/
.hern-our-plans__main {
   min-height: calc(100vh - 128px);
   background-color: #fafbfe;
}

.hern-our-plans_plans__plans {
   margin: auto;
   max-width: 980px;
   width: calc(100vw - 40px);
}
.hern-our-plans_plans__plans--padding {
   margin: auto;
   max-width: 980px;
   width: calc(100vw - 40px);
   padding: 0.75rem;
}

/*Plans component */
.hern-our-plans_plans__list {
   margin: auto;
   width: calc(100vw - 40px);
   display: flex;
   max-width: 1153px;
   flex-direction: column;
   padding: 24px 0;
}
.hern-our-plans_plans__list--count1 {
   display: flex;
   justify-content: center;
}

/*Plan component*/
.hern-our-plans__plan {
   border-radius: 2px;
   height: fit-content;
   margin-bottom: 21px;
   box-shadow: 0px 0px 17px rgba(0, 0, 0, 0.06);
}
.hern-our-plans__plan--count1 {
   max-width: 490px;
   width: 100%;
}

.hern-our-plans__plan__img__wrapper {
   width: 80px;
   height: 80px;
   border-radius: 50%;
   position: absolute;
   left: -40px;
   display: none;
}
.hern-our-plans__plan__img {
   width: 100%;
   height: 100%;
   border-radius: 50%;
}
.hern-our-plans__plan__body {
   padding: 18px 24px 18px 80px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: relative;
   background-color: #ffffff;
}

.hern-our-plans__plan__title {
   font-weight: 500;
   font-size: 16px;
   letter-spacing: 0.025em;
   color: rgba(5, 150, 105, 1);
   width: 250px;
   /* ${theme?.accent && `color: ${theme?.accent}`} */
}

.hern-our-plans__plan__icon__wrapper {
   width: 80px;
   height: 80px;
   border-radius: 50%;
   position: absolute;
   top: 8px;
   left: -40px;
}
.hern-our-plans__plan__icon {
   object-fit: cover;
   width: 100%;
   height: 100%;
   border-radius: 50%;
}

.hern-our-plans__plan__description {
   border-bottom-width: 2px;
   margin-bottom: 1rem;
   padding-bottom: 0.5rem;
}

.hern-our-plans__plan__servings,
.hern-our-plans__plan__items-per-week {
   width: 250px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.hern-our-plans__plan__servings__wrapper,
.hern-our-plans__plan__items-per-week__wrapper {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   width: 100%;
   position: relative;
}

.hern-our-plans__plan__servings__label,
.hern-our-plans__plan__items-per-week__label {
   text-transform: capitalize;
   letter-spacing: 0.05em;
   color: #8d8d8d;
   font-weight: 300;
   font-size: 16px;
   line-height: 1.25rem;
}
.hern-our-plans__plan__servings__label--multi,
.hern-our-plans__plan__items-per-week__label--multi {
   color: #8d8d8d;
   font-weight: 300;
   font-size: 16px;
   display: block;
}

.hern-our-plans__plan__servings__label--item {
   font-weight: 500;
   font-size: 15px;
   color: #222222;
   margin-right: 5px;
}

.hern-our-plans__plan__servings__count-list,
.hern-our-plans__plan__items-per-week__count-list {
   border-radius: 4px;
   padding: 0.25rem;
   display: flex;
   align-items: center;
}

.hern-our-plans__plan__servings__count-list-item,
.hern-our-plans__plan__items-per-week__count-list-item {
   border-radius: 2px;
   color: #aeaeae;
   width: 100%;
   height: 30px;
   width: 48px;
   cursor: pointer;
   font-size: 0.875rem;
   font-weight: 600;
   line-height: 1.25rem;
   margin-right: 11px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #efefef;
   box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.05);
}

.hern-our-plans__plan__servings__count-list-item:last-child,
.hern-our-plans__plan__items-per-week__count-list-item:last-child {
   margin-right: 0;
}
.hern-our-plans__plan__servings__count-list-item--active,
.hern-our-plans__plan__items-per-week__count-list-item--active {
   color: #fff;
   background: #1dc763;
}
.hern-our-plans__plan__servings__count-list-item:hover,
.hern-our-plans__plan__items-per-week__count-list-item:hover {
   color: #fff;
   background-color: #4c4c4c;
   border-radius: 2px;
}

.hern-our-plans__price {
   flex-grow: 1;
}
.hern-our-plans__price-per-servings {
   height: 100%;
   width: 100%;
   display: flex;
   justify-content: space-between;
}
.hern-our-plans__price-per-servings__prefix,
.hern-our-plans__price-total-servings__prefix,
.hern-our-plans__price-total-servings__suffix,
.hern-our-plans__price-total-servings__prefix {
   // color: rgba(75, 85, 99, 1);
   color: #8d8d8d;
   font-size: 16px;
   font-weight: 300;
   display: inline-block;
   margin-bottom: 5px;
}
.hern-our-plans__price-per-servings__price,
.hern-our-plans__price-total-servings__price {
   font-weight: 500;
   color: rgba(5, 150, 105, 1);
   /* ${theme?.accent && `color: ${theme?.accent}`} */
}

.hern-our-plans__price-per-servings__suffix {
   color: rgba(75, 85, 99, 1);
   font-size: 0.75rem;
   line-height: 1rem;
}
.hern-our-plans__price-total-servings {
   height: 100%;
   width: 100%;
   display: flex;
   justify-content: space-between;
   padding-top: 0.25rem;
   padding-bottom: 0.25rem;
}

.hern-our-plans__price-total-servings__price {
   font-size: 23px;
   line-height: 22px;
   color: rgba(5, 150, 105, 1);
   font-weight: 400;
   /* ${theme?.accent && `color: ${theme?.accent}`}  */
}
.hern-our-plans__price-total-servings__tax {
   color: rgba(75, 85, 99, 1);
   font-size: 0.875rem;
   line-height: 1.25rem;
   font-style: italic;
}

.hern-our-plans__select-plan__btn {
   width: 144px;
   text-transform: capitalize;
   letter-spacing: 0.05em;
   font-weight: 500;
   font-size: 15px;
   padding: 5px 25px;
   color: rgba(255, 255, 255, 1);
   border-radius: 3px;
   box-shadow: 0px 0px 21px rgba(0, 0, 0, 0.1);
   cursor: pointer;
   /* ${bg && `background-color: ${bg};`} */
}

.hern-our-plans__select-plan__btn:hover {
   background-color: transparent !important;
   color: #6a6a6a;
   border: 1px solid #6a6a6a;
}

@media screen and (max-width: 786px) {
   .hern-our-plans__plan__body {
      padding: 2rem;
      flex-direction: column;
      align-items: flex-start;
   }

   .hern-our-plans__plan__img__wrapper {
      width: 100%;
      height: auto;
      border-radius: 2px;
      position: relative;
      left: 0;
      display: block;

      .hern-our-plans__plan__img {
         border-radius: 2px;
      }
   }

   .hern-our-plans__plan__icon__wrapper {
      display: none;
   }

   .hern-our-plans__plan__title {
      font-size: 20px;
      margin: 0.5rem 0rem;
      text-align: center;
      width: 100%;
   }

   .hern-our-plans__price-total-servings__wrapper {
      margin-bottom: 5px;
   }

   .hern-our-plans__select-plan__btn {
      width: 100%;
   }
}

/*sections->select plan -> skeletons*/
.hern-select-plan__skeletons__wrapper {
   margin: auto;
   max-width: 980px;
   width: calc(100vw - 40px);
   display: flex;
   justify-content: center;
   > li {
      width: 100%;
      max-width: 490px;
   }
   display: grid;
   grid-gap: 24px;
   grid-template-columns: 1fr 1fr;

   padding: 24px 0;
   @media (max-width: 768px) {
      grid-template-columns: 1fr;
      > li {
         width: 100%;
         max-width: 100%;
      }
   }
}

.hern-select-plan__skeletons {
   height: 420px;
   display: flex;
   flex-direction: column;
   border-radius: 0.25rem;
   padding: 0.75rem;
   border-width: 1px;
}
.hern-select-plan__skeletons__header {
   height: 40px;
   width: 58.333333%;
   background-color: rgba(243, 244, 246, 1);
}
.hern-select-plan__skeletons__main {
   margin-top: 1.5rem;
   margin-bottom: 1.5rem;
}
.hern-select-plan__skeletons__main__section {
   height: 4rem;
   margin-bottom: 1.5rem;
   background-color: rgba(243, 244, 246, 1);
}

.hern-select-plan__skeletons__footer {
   margin-top: auto;
}
.hern-select-plan__skeletons__footer__span {
   height: 3rem;
   border-radius: 9999px;
   display: block;
   background-color: rgba(243, 244, 246, 1);
}
/*TODO:MOVE IT */
.hern-get-started-select-plan__main {
   min-height: calc(100vh - 128px);
}
