.hern-placing-order__wrapper {
   @media (min-width: 768px) {
      background-color: rgba(243, 244, 246, var(--tw-bg-opacity));
   }
}
.hern-placing-order__main {
   margin: auto;
   max-width: 1140px;
   background: #fff;
   padding-bottom: 24px;
   padding-top: 1rem;
   min-height: calc(100vh - 128px);
   > * {
      padding: 0.5rem;
   }
}
.hern-placing-order__content {
   margin: auto;
   width: calc(100% - 40px);
   display: flex;
   flex-direction: column;
   align-items: center;
}
.hern-placing-order__header {
   width: 100%;
   margin-top: 0.75rem;
   margin-bottom: 0.75rem;
   padding-bottom: 0.25rem;
   border-bottom-width: 1px;
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-align-items: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: justify;
   -webkit-justify-content: space-between;
   -ms-flex-pack: justify;
   justify-content: space-between;
}
.hern-placing-order__header__title {
   color: rgba(5, 150, 105, 1);
   font-size: 1.125rem;
   line-height: 1.75rem;
}
.hern-placing-order__steps {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.hern-placing-order__step {
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-flex-direction: column;
   -ms-flex-direction: column;
   flex-direction: column;
   -webkit-align-items: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: center;
   -webkit-justify-content: center;
   -ms-flex-pack: center;
   justify-content: center;
   color: rgba(75, 85, 99, 1);
}
.hern-placing-order__step--active {
   color: rgba(5, 150, 105, 1);
}
.hern-placing-order__step__illustration {
   border-width: 1px;
   border-radius: 9999px;
   margin-bottom: 0.75rem;
   box-shadow: 0 0 #0000, 0 0 #0000, 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.hern-placing-order__indicator-pulse {
   margin-top: 0.75rem;
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   height: 0.75rem;
   width: 0.75rem;
   position: relative;
   > span:nth-of-type(1) {
      -webkit-animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
      animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
      position: absolute;
      display: -webkit-inline-box;
      display: -webkit-inline-flex;
      display: -ms-inline-flexbox;
      display: inline-flex;
      height: 100%;
      width: 100%;
      border-radius: 9999px;
      background-color: rgba(156, 163, 175, 1);
      opacity: 0.75;
   }
   > span:nth-of-type(2) {
      position: relative;
      display: -webkit-inline-box;
      display: -webkit-inline-flex;
      display: -ms-inline-flexbox;
      display: inline-flex;
      border-radius: 9999px;
      height: 0.75rem;
      width: 0.75rem;
      background-color: rgba(107, 114, 128, 1);
   }
   @keyframes ping {
      75%,
      100% {
         -webkit-transform: scale(2);
         -ms-transform: scale(2);
         transform: scale(2);
         opacity: 0;
      }
   }
}
