.hern-product_gallery-header {
   text-align: center;
   margin-bottom: 85px;
}

.hern-product_gallery-header-heading {
   color: rgb(124 196 30);
   font-family: 'Poppins', sans-serif;
   text-transform: uppercase;
   font-size: 40px;
   letter-spacing: 0.8px;
   margin-bottom: 15px;
}

.hern-product_gallery-header-heading-2 {
   color: #000;
   font-family: 'Lato', sans-serif;
   font-weight: 700;
   font-size: 48px;
   line-height: 77px;
   letter-spacing: 0.02em;
   margin: 48px 0;
}

.hern-product_gallery-header-description {
   color: #222;
   font-size: 22px;
   font-weight: 600;
   font-family: 'Poppins', sans-serif;
   letter-spacing: 0.88px;
   text-transform: uppercase;
}

.hern-product_gallery-product-image {
   width: 18em;
   height: 22em;
}

.hern-product_gallery-left_arrow {
   position: absolute;
   z-index: 1;
   left: 4%;
   background: var(--hern-accent);
   padding: 1em 1em 1em 1.2em;
   top: 35%;
   border-radius: 50%;
   transition: 200ms;
   // padding-left: 0.2rem;
}

.hern-product_gallery-right_arrow {
   position: absolute;
   z-index: 1;
   right: 4%;
   background: var(--hern-accent);
   padding: 1em 1.2em 1em 1em;
   top: 35%;
   border-radius: 50%;
   transition: 200ms;
   // padding-right: 0.2rem;
}

.hern-product_gallery-left_arrow:hover,
.hern-product_gallery-right_arrow:hover {
   box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
}

.hern-product_gallery-left_arrow:active,
.hern-product_gallery-right_arrow:active {
   background: var(--arrow-active-color);
}

.hern-product_gallery-product-custom-area {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
   align-items: flex-start;
   @media (max-width: 479px) {
      width: 90%;
   }
   .hern-custom-area-add-btn {
      width: 80px;
      padding: 0;
      width: 100%;
      height: 36px;
      border-radius: 4px;
      @media (max-width: 479px) {
         height: 30px;
      }
   }
   > span {
      font-style: normal;
      font-weight: normal;
      font-size: 10px;
      line-height: 12px;
      color: #40404099;
      margin: 2px 0;
   }
}
.hern-product_gallery__container {
   .hern-product-card-details-2 .hern-product-card__name {
      font-family: 'Inter';
      font-weight: 600;
      font-size: 18px;
      line-height: 32px;
      text-align: center;
      letter-spacing: 0.02em;
   }
}

.hern-product_gallery_page-button {
   font-family: 'Inter';
   font-weight: 500;
   font-size: 20px;
   line-height: 34px;
   text-align: center;
   letter-spacing: 0.04em;
   background-color: var(--hern-accent);
   color: #fff !important;
   border-radius: 20px;
   padding: 8px 24px;
   margin: 20px 0px !important;
   text-decoration: none;
   transform: all 0.3s ease-in-out;
   &:hover {
      box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
   }
}

@media only screen and (max-width: 1024px) {
   // tab
   .hern-product_gallery-header {
      margin: 20px 0px;
   }
   .hern-product_gallery-header-heading-2 {
      font-size: 38px;
      line-height: 40px;
      margin: 15px 0px 10px;
   }
   .hern-product_gallery__container {
      .hern-product-card-content {
         padding: 0px;
      }
      .hern-product-card-details-2 .hern-product-card__name {
         font-size: 26px;
         line-height: 30px;
      }
   }
   .hern-product_gallery_page-button {
      font-size: 18px;
      line-height: 20px;
      padding: 14px 33.6px;
   }
   .hern-product_gallery-left_arrow {
      padding: 0.3em 0.3em 0.3em 0.5em;
   }
   .hern-product_gallery-right_arrow {
      padding: 0.3em 0.5em 0.3em 0.3em;
   }
}

@media screen and (max-width: 599px) {
   // mobile

   .hern-product_gallery-header {
      margin: 15px 0px;
   }
   .hern-product_gallery-header-heading-2 {
      font-size: 28px;
      line-height: 34px;
      margin: 15px 0px 10px;
   }
   .hern-product_gallery__container {
      .ant-row {
         display: block !important;
      }
      .hern-product-card-content {
         padding: 0px;
      }
      .hern-product-card-details-2 .hern-product-card__name {
         font-size: 16px;
         line-height: 19px;
      }
   }
   .hern-product_gallery_page-button {
      font-size: 14px;
      line-height: 17px;
      padding: 10px 24px;
   }
   .hern-product_gallery-left_arrow {
      padding: 0.3em 0.3em 0.3em 0.5em;
   }
   .hern-product_gallery-right_arrow {
      padding: 0.3em 0.5em 0.3em 0.3em;
   }
}
.hern-product-galllery__something-went-wrong {
   color: #222;
   font-size: 22px;
   font-weight: 600;
   letter-spacing: 0.88px;
   text-align: center;
   padding: 64px 0;
   > button {
      border: 1px solid #222;
      font-size: 16px;
      border-radius: 3px;
      padding: 4px 12px;
      margin-top: 12px;
   }
}
.hern-product-galllery__product__display--1 {
   .hern-product-card {
      align-items: center;
      flex-direction: column !important;
   }
}
