.hern-recipe__wrapper {
   max-width: 1200px;
   margin: 0 auto;
}
.hern-recipe__title {
   font-weight: 600;
   font-size: 18px;
   line-height: 25px;
   color: var(--hern-accent);
}
.hern-recipe-navigation {
   margin-bottom: 2rem;
   > h3 {
      font-weight: bold;
      font-size: 40px;
      color: var(--hern-accent);
      text-align: center;
   }
   > div {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 12px;
      .active {
         background: var(--hern-accent);
      }
      > a {
         text-decoration: none;
         border: none;
         outline: none;
         color: #fff;
         background: #281813;
         border-radius: 2px;
         padding: 8px 24px;
         margin-right: 16px;
         font-weight: bold;
         font-size: 16px;
      }
   }
}
.hern-recipe__img__wrapper {
   > img {
      width: 100%;
      height: auto;
      border-radius: 4px;
   }
}
.hern-recipe__description {
   margin-top: 1rem;
   > h2 {
      font-size: 24px;
      color: #281813;
      font-style: normal;
      font-weight: normal;
   }
   > p {
      font-size: 18px;
      color: #281813;
      color: #281813;
   }
}
.hern-recipe__details {
   margin-bottom: 32px;
   > h2 {
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      text-transform: uppercase;
      color: var(--hern-accent);
   }
   > div {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
      gap: 1rem;
      margin-top: 1rem;
      text-align: center;
      > div {
         display: flex;
         align-items: center;
         flex-direction: column;
         gap: 8px;
      }
   }
}
.hern-recipe__not-included {
   > h2 {
      margin-bottom: 16px;
      font-size: 24px;
      font-style: normal;
      font-weight: bold;
      text-transform: uppercase;
      color: var(--hern-accent);
   }
   > p {
      font-size: 16px;
   }
}
.hern-recipe__ingradients {
   // margin: 32px 0;
   > h2 {
      margin-bottom: 16px;
      font-size: 24px;
      font-style: normal;
      font-weight: bold;
      text-transform: uppercase;
      color: var(--hern-accent);
   }
   > div {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
      gap: 1rem;
      text-align: center;
      > div {
         background: #ffffff;
         border: 1px solid #f9f9f9;
         box-sizing: border-box;
         box-shadow: 0px 0.504798px 2.01919px rgba(0, 0, 0, 0.2);
         border-radius: 4px;
         padding: 8px;
         > img {
            width: 184px;
         }
      }
   }
}
.hern-recipe__cooking-process {
   > h2 {
      margin-bottom: 16px;
      font-size: 24px;
      font-style: normal;
      font-weight: bold;
      text-transform: uppercase;
      color: var(--hern-accent);
   }
   > ul {
      list-style-type: none;
   }
}
.hern-recipe__cooking-process__heading {
   padding-bottom: 0.5rem;
   margin-top: 1rem;
   border-bottom-width: 1px;
   border-color: rgba(209, 213, 219, 1);
   color: rgba(107, 114, 128, 1);
   margin-bottom: 0.75rem;
   font-size: 1.125rem;
   line-height: 1.75rem;
   font-weight: 500;
}
.hern-recipe__cooking-instructions {
   height: auto;
   margin-bottom: 1rem;
}
.hern-recipe__cooking-setps {
   list-style-type: decimal;
}
.hern-recipe__cooking-setps__heading {
   font-size: 1.125rem;
   line-height: 1.75rem;
   font-weight: 500;
   color: rgba(55, 65, 81, 1);
}
.hern-recipe__cooking-setps__step {
   height: auto;
   margin-bottom: 1rem;
   margin-left: 1rem;
   margin-top: 0.5rem;
}
.hern-recipe__cooking-setps__step--locked {
   height: auto;
   margin: 0.5rem 0 1rem 1rem;
}
.hern-recipe__cooking-setps__step__title {
   color: rgba(31, 41, 55, 1);
}
.hern-recipe__cooking-setps__step__img {
   max-width: 340px;
   margin-top: 0.5rem;
   margin-bottom: 0.5rem;
   > img {
      width: 100%;
      height: 220px;
      object-fit: cover;
      border-radius: 0.25rem;
   }
   @media (max-width: 567px) {
      > img {
         height: 160px;
      }
   }
}
.hern-recipe__cooking-setps__step__description {
   margin-top: 0.25rem;
   color: rgba(75, 85, 99, 1);
}

.hern-recipe__go-back-btn {
   left: 50%;
   transform: translateX(-50%);
   bottom: 16px;
   position: fixed;
   background-color: var(--hern-accent);
   border-radius: 0.25rem;
   color: #fff;
   padding-left: 1rem;
   padding-right: 1rem;
   height: 2.5rem;
   margin: 0 auto;
   border: none;
   outline: none;
   text-transform: uppercase;
}
.hern-nutrition-recipe__wrapper {
   display: flex;
   gap: 64px;
   margin: 32px 0;
   .hern-recipe__ingradients {
      width: 60%;
   }
   .hern-recipe-nutrition {
   }
   @media (max-width: 767px) {
      flex-direction: column;
      .hern-recipe__ingradients {
         width: 100%;
      }
   }
}
