.hern-select-menu__main {
   margin: auto;
   padding-bottom: 24px;
   min-height: calc(100vh - 128px);
}

.hern-select-menu__loading {
   padding: 0.75rem;
}
.hern-select-menu__helper-bar {
   padding: 0.75rem;
}
.hern-select-menu__content {
   padding: 0 1rem;
   display: grid;
   gap: 2rem;
   grid-template-columns: 1fr 400px;
   @media (max-width: 768px) {
      grid-template-columns: 1fr;
   }
}

/**Week picker */
.hern-select-menu__week-picker {
   display: flex;
   justify-content: center;
   margin: 32px 0;
}
.hern-select-menu__week-date {
   background-color: var(--hern-accent);
   font-family: 'Inter';
   font-style: normal;
   font-weight: 600;
   font-size: 14px;
   color: #fff;
   border-radius: 9999px;
   padding: 0.75rem 2rem;
   cursor: pointer;
   &:hover {
      opacity: 0.7;
   }
}

.hern-select-menu__week-picker__list {
   height: 64px;
   max-width: 980px;
   padding: 0 0.5rem;
   margin: 12px auto;
   overflow-x: auto;
   display: flex;
   align-items: center;
   justify-content: space-between;
   &::after,
   &::before {
      content: '';
   }
}
.hern-select-menu__week-picker__list-item {
   background-color: rgba(17, 130, 59, 0.05);
   font-family: 'Inter';
   font-style: normal;
   font-weight: 600;
   font-size: 14px;
   color: rgba(17, 130, 59, 1);
   border-radius: 9999px;
   padding: 0.75rem 2rem;
   cursor: pointer;
   &:hover {
      opacity: 0.7;
   }
}
.hern-select-menu__week-picker__list-item--active {
   color: #fff;
   background-color: var(--hern-accent);
}

/*Skeleton*/
.hern-select-menu__skeleton {
   margin-top: 1rem;
   header {
      border-bottom-width: 1px;
      height: 2rem;
      margin-bottom: 0.75rem;
      span {
         width: 8.333333%;
         display: block;
         height: 2rem;
         background-color: rgba(243, 244, 246, 1);
      }
   }
   ul {
      display: grid;
      gap: 0.75rem;
      grid-template-rows: 220px;
      grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
   }
   li {
      padding: 0.5rem;
      display: flex;
      flex-direction: column;
      background: #fff;
      border-radius: 0.25rem;
      overflow: hidden;
      div {
         flex: 1 1 0%;
         background-color: rgba(243, 244, 246, 1);
      }
      footer {
         margin-top: 0.5rem;
         height: 2rem;
         background-color: rgba(243, 244, 246, 1);
      }
   }
}

/* category */
.hern-select-menu__category {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   background-color: #fff;
   position: sticky;
   top: 0;
   z-index: 999;
   padding: 16px 12px;
   &__btn {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      color: rgba(51, 51, 51, 0.8);
      border-radius: 9999px;
      padding: 0.5rem 0.75rem;
      background-color: rgba(17, 130, 59, 0.2);
      margin-right: 12px;
      cursor: pointer;
      text-decoration: none;
      &:last-child {
         margin-right: 0;
      }
      &:hover {
         color: rgba(51, 51, 51, 0.8);
         opacity: 0.7;
      }
   }
   &__btn--active {
      background-color: var(--hern-accent);
      color: #fff;
      &:hover {
         color: #fff;
         opacity: 0.7;
      }
   }
}

/*Menu*/
.hern-select-menu__menu {
   margin-bottom: 2rem;
}
.hern-select-menu__menu__helper-bar {
   padding-top: 1rem;
}
.hern-select-menu__menu__category-name {
   font-family: 'Inter';
   font-style: normal;
   font-weight: 600;
   font-size: 2.25rem;
   color: rgba(51, 51, 51, 0.8);
   margin: 2.25rem 0 1.25rem 0;
}

.hern-select-menu__menu__products {
   display: grid;
   gap: 1.25rem;
   grid-template-columns: repeat(auto-fill, minmax(236px, 1fr));
}

.hern-select-menu__menu__product {
   position: relative;
   display: flex;
   flex-direction: column;
   background: #fff;
   border-radius: 1.25rem;
   overflow: hidden;
   box-shadow: 0px 1px 5px rgb(0 0 0 / 8%);
}
.hern-select-menu__menu__product--active {
}
.hern-select-menu__menu__product__img {
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: rgba(229, 231, 235, 1);
   margin-bottom: 0.969rem;
   border-radius: 20px 20px 0px 0px;
   overflow: hidden;
   cursor: pointer;
   position: relative;
   padding-bottom: calc(3 / 4 * 100%);
   > img {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
   }
}

.hern-select-menu__menu__product__type {
   position: absolute;
   top: 8px;
   right: 8px;
   z-index: 1;
}
.hern-select-menu__menu__product__type__img {
   height: 1.5rem;
   width: 1.5rem;
}
.hern-select-menu__menu__product__add-on-label {
   top: 16px;
   padding: 3px 6px;
   position: absolute;
   border-radius: 0px 2px 2px 0px;
   background: rgba(51, 51, 51, 0.6);
   backdrop-filter: blur(10px);
   -webkit-backdrop-filter: blur(10px);
   font-size: 0.875rem;
   text-transform: capitalize;
   font-weight: 500;
   color: #ffffff;
   letter-spacing: 0.05em;
}
.hern-select-menu__menu__product__btn {
   font-size: 0.875rem;
   line-height: 1.25rem;
   font-weight: 500;
   text-transform: capitalize;
   letter-spacing: 0.05em;
   border-radius: 20px;
   padding: 0.5rem;
   width: 100%;
   color: #ffffff;
   transition: all 0.2s ease-in-out;
   background-color: var(--hern-accent);
}
.hern-select-menu__menu__product__btn--disabled {
   cursor: not-allowed;
   color: rgba(156, 163, 175, 1);
}

.hern-select-menu__menu__product__link {
   display: flex;
   align-items: center;
   margin-bottom: 0.25rem;
   > a {
      color: rgba(51, 51, 51, 0.8);
      cursor: pointer;
      font-weight: 500;
      font-size: 1.125rem;
      line-height: 1.2;
   }
}
.hern-select-menu__menu__product__link__additional-text {
   margin-bottom: 1.089rem;
   color: rgba(51, 51, 51, 0.4);
   font-size: 0.875rem;
   font-weight: 500;
   line-height: 1.14;
}
.hern-select-menu__menu__product__link__check-icon {
   flex-shrink: 0;
   margin-right: 0.5rem;
   stroke: currentColor;
   color: rgba(209, 213, 219, 1);
}
.hern-select-menu__menu__product__link__check-icon--active {
   color: rgba(4, 120, 87, 1);
}

/*cart*/
.hern-select-menu__cart__cart-panel {
   @media (max-width: 768px) {
      position: fixed;
      background-color: #ffff;
      padding: 1rem 1rem 72px 1rem;
      z-index: 1020;
      overflow: scroll;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      top: 100%;
      display: block;
      -webkit-animation: slide 0.5s forwards;
      animation: slide 0.5s forwards;
      @keyframes slide {
         100% {
            top: 0;
         }
      }
   }
}
.hern-select-menu__cart__cart-panel--hidden {
   @media (max-width: 768px) {
      display: none;
   }
}
.hern-select-menu__cart__cart-panel__header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   @media (min-width: 768px) {
      display: none;
   }
}
.hern-select-menu__cart__cart-panel__header__title {
   color: rgba(5, 150, 105, 1);
   font-size: 1.5rem;
   line-height: 2rem;
   -webkit-letter-spacing: 0.025em;
   -moz-letter-spacing: 0.025em;
   -ms-letter-spacing: 0.025em;
   letter-spacing: 0.025em;
}
.hern-select-menu__cart__cart-panel__header__close-icon {
   border-radius: 9999px;
   border-width: 2px;
   border-color: rgba(52, 211, 153, 1);
   height: 1.5rem;
   width: 2rem;
   display: flex;
   align-items: center;
   justify-content: center;
}

.hern-select-menu__cart__cart-panel__checkout-btn {
   width: 100%;
   background-color: var(--hern-accent);
   border-radius: 9999px;
   font-family: 'Inter';
   font-style: normal;
   font-weight: 500;
   font-size: 20px;
   line-height: 24px;
   color: #ffffff;
   height: auto;
   padding: 12px;
}
/*cart bar*/
.hern-select-menu__cart__cart-bar {
   box-shadow: 0 -4px 16px rgb(0 0 0 / 30%);
   display: flex;
   align-items: center;
   justify-content: space-between;
   z-index: 10;
   padding: 0.5rem;
   height: 5rem;
   position: fixed;
   bottom: 0px;
   right: 0px;
   left: 0px;
   background-color: rgba(255, 255, 255, 1);
   border-top-width: 1px;
   @media (min-width: 768px) {
      display: none;
   }
}
.hern-select-menu__cart__cart-bar__count {
   font-size: 1rem;
   line-height: 1.5rem;
   color: rgba(55, 65, 81, 1);
}
.hern-select-menu__cart__cart-bar__summary {
   color: rgba(29, 78, 216, 1);
   padding-top: 0.5rem;
}
.hern-select-menu__cart__cart-bar__saving-status {
   @media (min-width: 768px) {
      display: block;
   }

   @media (min-width: 640px) {
      display: none;
   }
}
.hern-select-menu__cart__cart-bar__saved {
   font-size: 0.875rem;
   line-height: 1.25rem;
   background-color: rgba(167, 243, 208, 1);
   color: rgba(4, 120, 87, 1);
   border-radius: 9999px;
   padding-left: 0.75rem;
   padding-right: 0.75rem;
   font-weight: 500;
   -webkit-border-radius: 9999px;
   -moz-border-radius: 9999px;
   -ms-border-radius: 9999px;
   -o-border-radius: 9999px;
}
.hern-select-menu__cart__cart-bar__saving {
   background-color: rgba(191, 219, 254, 1);
   color: rgba(29, 78, 216, 1);
   @extend .hern-select-menu__cart__cart-bar__saved;
}

/*cart ___plan-products*/
.hern-cart-plan-products__header {
   margin-top: 0.75rem;
   margin-bottom: 0.781rem;
   padding-bottom: 0.781rem;
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-align-items: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: justify;
   -webkit-justify-content: space-between;
   -ms-flex-pack: justify;
   justify-content: space-between;
   border-bottom: 1px solid rgba(51, 51, 51, 0.4);
}
.hern-cart-plan-products__header__title {
   font-size: 0.875rem;
   line-height: 1.75rem;
   color: #333333;
   font-weight: 500;

   & > span {
      font-size: 1.125rem;
      font-weight: 600;
   }
}
.hern-cart-plan-products__saving-status {
   @media (min-width: 640px) {
      display: none;
   }
   @media (min-width: 768px) {
      display: block;
   }
}
.hern-cart-plan-products__saving-status__saved {
   font-size: 0.875rem;
   line-height: 1.25rem;
   color: rgba(51, 51, 51, 0.8);
   background: rgba(17, 130, 59, 0.2);
   border-radius: 9999px;
   padding: 0.25rem 1rem;
   font-weight: 500;
}
.hern-cart-plan-products__saving-status__saving {
   font-size: 0.875rem;
   line-height: 1.25rem;
   color: rgba(51, 51, 51, 0.8);
   background: rgba(17, 130, 59, 0.2);
   border-radius: 9999px;
   padding: 0.25rem 1rem;
   font-weight: 500;
}
.hern-cart-plan-products__skip-week {
   display: flex;
   align-items: center;
}
.hern-cart-plan-products__skip-week__label {
   margin-right: 0.5rem;
   color: rgba(75, 85, 99, 1);
}
.hern-cart-plan-products__skip-week__toggle {
   height: 18px;
   -webkit-transition: all 0.2s ease;
   transition: all 0.2s ease;
   position: relative;
   width: 2rem;
   display: inline-block;
   border-radius: 9999px;
   border-width: 1px;
   border-color: rgba(156, 163, 175, 1);
   -moz-transition: all 0.2s ease;
   -ms-transition: all 0.2s ease;
   -o-transition: all 0.2s ease;
   cursor: pointer;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   &:checked {
      border-color: rgba(16, 185, 129, 1);
      background-color: rgba(16, 185, 129, 1);
      &:after {
         -webkit-transform: translatex(14px);
         -ms-transform: translatex(14px);
         transform: translatex(14px);
         background-color: rgba(255, 255, 255, 1);
         -moz-transform: translatex(14px);
         -o-transform: translatex(14px);
      }
   }
   &:after {
      content: '';
      top: 1px;
      left: 1px;
      width: 14px;
      height: 14px;
      -webkit-transition: all 0.2s cubic-bezier(0.5, 0.1, 0.75, 1.35);
      transition: all 0.2s cubic-bezier(0.5, 0.1, 0.75, 1.35);
      position: absolute;
      background-color: rgba(16, 185, 129, 1);
      border-radius: 9999px;
      -moz-transition: all 0.2s cubic-bezier(0.5, 0.1, 0.75, 1.35);
      -ms-transition: all 0.2s cubic-bezier(0.5, 0.1, 0.75, 1.35);
      -o-transition: all 0.2s cubic-bezier(0.5, 0.1, 0.75, 1.35);
   }
}
.hern-cart-plan-products__count-down {
   display: block;
   margin-bottom: 0.75rem;
}
.hern-cart-plan-products__list {
   max-height: 257px;
}

.hern-cart-add-on-products__tunnel {
   .hern-tunnel__header__title {
      font-family: 'Lato';
      font-style: normal;
      font-weight: 600;
      font-size: 28px;
      line-height: 34px;
      color: #333333;
   }
   .hern__btn {
      background-color: transparent !important;

      &:hover {
         transform: translateX(0) !important;
         box-shadow: none;
      }
      > svg {
         color: #333333;
      }
   }
   .hern-tunnel__header {
      height: 78px;
      padding-left: 2.5rem;
   }
   .hern-tunnel__body {
      height: calc(100% - 78px);
   }
}

.hern-cart-add-on-products__header {
   margin-top: 2rem;
   margin-bottom: 0.75rem;
   padding-bottom: 0.75rem;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.hern-cart-add-on-products__header__title {
   font-family: 'Inter';
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 19px;
   color: rgba(51, 51, 51, 0.8);
}
.hern-cart-add-on-products__header__explore-btn {
   font-family: 'Inter';
   font-style: normal;
   font-weight: 600;
   font-size: 14px;
   line-height: 17px;
   color: var(--hern-accent);
   &:hover {
      opacity: 0.8;
   }
}
.hern-cart-add-on-products__list {
   overflow-y: auto;
   max-height: 257px;
}
/*Addons*/
.hern-cart-add-ons__section {
   margin-bottom: 2rem;
}
.hern-cart-add-ons__section__title {
   font-family: 'Lato';
   font-style: normal;
   font-weight: 600;
   font-size: 20px;
   line-height: 24px;
   color: rgba(51, 51, 51, 0.8);
   margin-bottom: 0.75rem;
}
.hern-add-ons__products__list {
   display: grid;
   grid-gap: 1rem 2.5rem;
   gap: 1rem 2.5rem;
   grid-template-columns: repeat(auto-fill, minmax(480px, 1fr));
}
.hern-add-on__products__list-item {
   box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.08);
   border-radius: 4px;
   background-color: #ffffff;
   padding: 0.5rem;
   display: flex;
   align-items: center;
}

.hern-add-on__products__list-item--active {
   background: #f9f9f9;
}

.hern-add-on__products__list-item__img {
   height: 50px;
   width: 50px;
   border-radius: 50%;
   margin-right: 1rem;
   > img {
      height: 100%;
      aspect-ratio: 1;
      width: 100%;
      object-fit: cover;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      border-radius: 50%;
   }
}
.hern-add-on__products__list-item__info {
   display: block;
   > p {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      color: rgba(51, 51, 51, 0.4);
      margin-top: 4px;
   }
}
.hern-add-on__products__list-item__title {
   display: flex;
   align-items: center;
   font-family: 'Inter';
   font-style: normal;
   font-weight: 500;
   font-size: 18px;
   line-height: 22px;
   color: #333333;
   margin-bottom: 4px;
}
.hern-add-on__products__list-item__check-icon {
   -webkit-flex-shrink: 0;
   -ms-flex-negative: 0;
   flex-shrink: 0;
   margin-right: 0.5rem;
   stroke: currentColor;
   color: rgba(209, 213, 219, 1);
}
.hern-add-on__products__list-item__check-icon--active {
   color: rgba(4, 120, 87, 1);
}

.hern-add-on__products__list-item__add-btn {
   border-radius: 9999px;
   padding: 12px 16px;
   font-family: 'Inter';
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 19px;
   color: #ffffff;
   background-color: var(--hern-accent);
   margin-left: auto;
   &:hover {
      opacity: 0.8;
   }
}
