.hern-select-menu__main {
   margin: auto;
   padding-bottom: 24px;
   min-height: calc(100vh - 128px);
}

.hern-select-menu__header {
   height: 480px;
   position: relative;
   background-color: rgba(243, 244, 246, 1);
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   &::after {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      z-index: 1;
      background-color: rgba(0, 0, 0, 1);
      opacity: 0.25;
   }
}

.hern-select-menu__header__heading {
   font-size: 2.25rem;
   line-height: 2.5rem;
   color: rgba(255, 255, 255, 1);
   z-index: 10;
}
.hern-select-menu__header__sub-heading {
   font-size: 1.25rem;
   line-height: 1.75rem;
   color: rgba(243, 244, 246, 1);
   z-index: 10;
}

.hern-select-menu__header__before {
   position: absolute;
   height: 100%;
   width: 100%;
   z-index: 0;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}

.hern-select-menu__loading {
   padding: 0.75rem;
}
.hern-select-menu__helper-bar {
   padding: 0.75rem;
}
.hern-select-menu__content {
   padding: 0 1rem;
   display: grid;
   gap: 2rem;
   grid-template-columns: 1fr 400px;
   @media (max-width: 768px) {
      grid-template-columns: 1fr;
   }
}

/**Week picker */
.hern-select-menu__week-picker {
   height: 4rem;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 1rem;
   line-height: 1.5rem;
   text-align: center;
   color: rgba(55, 48, 163, 1);
   @media only screen and (min-width: 760px) {
      font-size: 1.125rem;
      line-height: 1.75rem;
   }
}
.hern-select-menu__week-picker__list {
   height: 64px;
   max-width: 980px;
   padding: 0 0.5rem;
   margin-left: auto;
   margin-right: auto;
   overflow-x: auto;
   display: flex;
   align-items: center;
   justify-content: space-between;
   &::after,
   &::before {
      content: '';
   }
}
.hern-select-menu__week-picker__list-item {
   display: flex;
   flex-shrink: 0;
   padding: 0 0.75rem;
   border-radius: 9999px;
   border-width: 1px;
   cursor: pointer;
}
.hern-select-menu__week-picker__list-item--active {
   color: rgba(4, 120, 87, 1);
   background-color: rgba(167, 243, 208, 1);
}

/*Skeleton*/
.hern-select-menu__skeleton {
   margin-top: 1rem;
   header {
      border-bottom-width: 1px;
      height: 2rem;
      margin-bottom: 0.75rem;
      span {
         width: 8.333333%;
         display: block;
         height: 2rem;
         background-color: rgba(243, 244, 246, 1);
      }
   }
   ul {
      display: grid;
      gap: 0.75rem;
      grid-template-rows: 220px;
      grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
   }
   li {
      padding: 0.5rem;
      display: flex;
      flex-direction: column;
      background: #fff;
      border-radius: 0.25rem;
      overflow: hidden;
      div {
         flex: 1 1 0%;
         background-color: rgba(243, 244, 246, 1);
      }
      footer {
         margin-top: 0.5rem;
         height: 2rem;
         background-color: rgba(243, 244, 246, 1);
      }
   }
}

/*Menu*/
.hern-select-menu__menu {
   margin-bottom: 2rem;
}
.hern-select-menu__menu__helper-bar {
   padding-top: 1rem;
}
.hern-select-menu__menu__category-name {
   font-size: 1.125rem;
   line-height: 1.75rem;
   color: rgba(55, 65, 81, 1);
   margin: 0.75rem 0;
   padding-bottom: 0.25rem;
   border-bottom-width: 1px;
}

.hern-select-menu__menu__products {
   display: grid;
   gap: 0.75rem;
   grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}

.hern-select-menu__menu__product {
   position: relative;
   display: flex;
   flex-direction: column;
   background: #fff;
   padding: 0.5rem;
   border-radius: 0.25rem;
   overflow: hidden;
}
.hern-select-menu__menu__product--active {
   border-width: 2px;
}
.hern-select-menu__menu__product__img {
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   background-color: rgba(229, 231, 235, 1);
   margin-bottom: 0.5rem;
   border-radius: 0.25rem;
   overflow: hidden;
   cursor: pointer;
   position: relative;
   padding-bottom: calc(3 / 4 * 100%);
   > img {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
   }
}

.hern-select-menu__menu__product__type {
   position: absolute;
   top: 8px;
   right: 8px;
   z-index: 1;
}
.hern-select-menu__menu__product__type__img {
   height: 1.5rem;
   width: 1.5rem;
}
.hern-select-menu__menu__product__add-on-label {
   top: 16px;
   padding: 0 0.5rem;
   position: absolute;
   border-top-right-radius: 0.25rem;
   border-bottom-right-radius: 0.25rem;
   background-color: rgba(16, 185, 129, 1);
   font-size: 0.875rem;
   line-height: 1.25rem;
   text-transform: uppercase;
   font-weight: 500;
   color: #fff;
   letter-spacing: 0.05em;
}
.hern-select-menu__menu__product__btn {
   font-size: 0.875rem;
   line-height: 1.25rem;
   font-weight: 700;
   text-transform: uppercase;
   letter-spacing: 0.05em;
   border-width: 2px;
   border-color: rgba(209, 213, 219, 1);
   border-radius: 0.25rem;
   padding: 0.5rem;
   width: 100%;
   color: rgba(107, 114, 128, 1);
   transition: all 0.2s ease-in-out;
}
.hern-select-menu__menu__product__btn--disabled {
   cursor: not-allowed;
   color: rgba(156, 163, 175, 1);
}

.hern-select-menu__menu__product__link {
   display: flex;
   align-items: center;
   margin-bottom: 0.25rem;
   > a {
      color: rgba(55, 65, 81, 1) !important;
      cursor: pointer;
   }
}
.hern-select-menu__menu__product__link__additional-text {
   margin-bottom: 0.25rem;
}
.hern-select-menu__menu__product__link__check-icon {
   flex-shrink: 0;
   margin-right: 0.5rem;
   stroke: currentColor;
   color: rgba(209, 213, 219, 1);
}
.hern-select-menu__menu__product__link__check-icon--active {
   color: rgba(4, 120, 87, 1);
}

/*cart*/
.hern-select-menu__cart__cart-panel {
   @media (max-width: 786px) {
      position: fixed;
      background-color: #ffff;
      padding: 1rem 1rem 72px 1rem;
      z-index: 1020;
      overflow: scroll;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      top: 100%;
      display: block;
      -webkit-animation: slide 0.5s forwards;
      animation: slide 0.5s forwards;
      @keyframes slide {
         100% {
            top: 0;
         }
      }
   }
}
.hern-select-menu__cart__cart-panel__header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   @media (min-width: 768px) {
      display: none;
   }
}
.hern-select-menu__cart__cart-panel__header__title {
   color: rgba(5, 150, 105, 1);
   font-size: 1.5rem;
   line-height: 2rem;
   -webkit-letter-spacing: 0.025em;
   -moz-letter-spacing: 0.025em;
   -ms-letter-spacing: 0.025em;
   letter-spacing: 0.025em;
}
.hern-select-menu__cart__cart-panel__header__close-icon {
   border-radius: 9999px;
   border-width: 2px;
   border-color: rgba(52, 211, 153, 1);
   height: 1.5rem;
   width: 2rem;
   display: flex;
   align-items: center;
   justify-content: center;
}

.hern-select-menu__cart__cart-panel__checkout-btn {
   width: 100%;
}
/*cart bar*/
.hern-select-menu__cart__cart-bar {
   box-shadow: 0 -4px 16px rgb(0 0 0 / 30%);
   display: flex;
   align-items: center;
   justify-content: space-between;
   z-index: 10;
   padding: 0.5rem;
   height: 5rem;
   position: fixed;
   bottom: 0px;
   right: 0px;
   left: 0px;
   background-color: rgba(255, 255, 255, 1);
   border-top-width: 1px;
   @media (min-width: 768px) {
      display: none;
   }
}
.hern-select-menu__cart__cart-bar__count {
   font-size: 1rem;
   line-height: 1.5rem;
   color: rgba(55, 65, 81, 1);
}
.hern-select-menu__cart__cart-bar__summary {
   color: rgba(29, 78, 216, 1);
   padding-top: 0.5rem;
}
.hern-select-menu__cart__cart-bar__saving-status {
   @media (min-width: 768px) {
      display: block;
   }

   @media (min-width: 640px) {
      display: none;
   }
}
.hern-select-menu__cart__cart-bar__saved {
   font-size: 0.875rem;
   line-height: 1.25rem;
   background-color: rgba(167, 243, 208, 1);
   color: rgba(4, 120, 87, 1);
   border-radius: 9999px;
   padding-left: 0.75rem;
   padding-right: 0.75rem;
   font-weight: 500;
   -webkit-border-radius: 9999px;
   -moz-border-radius: 9999px;
   -ms-border-radius: 9999px;
   -o-border-radius: 9999px;
}
.hern-select-menu__cart__cart-bar__saving {
   background-color: rgba(191, 219, 254, 1);
   color: rgba(29, 78, 216, 1);
   @extend .hern-select-menu__cart__cart-bar__saved;
}

/*cart ___plan-products*/
.hern-cart-plan-products__header {
   margin-top: 0.75rem;
   margin-bottom: 0.5rem;
   padding-bottom: 0.25rem;
   border-bottom-width: 1px;
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-align-items: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: justify;
   -webkit-justify-content: space-between;
   -ms-flex-pack: justify;
   justify-content: space-between;
}
.hern-cart-plan-products__header__title {
   font-size: 1.125rem;
   line-height: 1.75rem;
   color: rgba(55, 65, 81, 1);
}
.hern-cart-plan-products__saving-status {
   @media (min-width: 640px) {
      display: none;
   }
   @media (min-width: 768px) {
      display: block;
   }
}
.hern-cart-plan-products__saving-status__saved {
   font-size: 0.875rem;
   line-height: 1.25rem;
   background-color: rgba(191, 219, 254, 1);
   color: rgba(29, 78, 216, 1);
   border-radius: 9999px;
   padding-left: 0.75rem;
   padding-right: 0.75rem;
   font-weight: 500;
}
.hern-cart-plan-products__saving-status__saving {
   font-size: 0.875rem;
   line-height: 1.25rem;
   background-color: rgba(167, 243, 208, 1);
   color: rgba(4, 120, 87, 1);
   border-radius: 9999px;
   padding-left: 0.75rem;
   padding-right: 0.75rem;
   font-weight: 500;
}
.hern-cart-plan-products__skip-week {
   display: flex;
   align-items: center;
}
.hern-cart-plan-products__skip-week__label {
   margin-right: 0.5rem;
   color: rgba(75, 85, 99, 1);
}
.hern-cart-plan-products__skip-week__toggle {
   height: 18px;
   -webkit-transition: all 0.2s ease;
   transition: all 0.2s ease;
   position: relative;
   width: 2rem;
   display: inline-block;
   border-radius: 9999px;
   border-width: 1px;
   border-color: rgba(156, 163, 175, 1);
   -moz-transition: all 0.2s ease;
   -ms-transition: all 0.2s ease;
   -o-transition: all 0.2s ease;
   cursor: pointer;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   &:checked {
      border-color: rgba(16, 185, 129, 1);
      background-color: rgba(16, 185, 129, 1);
      &:after {
         -webkit-transform: translatex(14px);
         -ms-transform: translatex(14px);
         transform: translatex(14px);
         background-color: rgba(255, 255, 255, 1);
         -moz-transform: translatex(14px);
         -o-transform: translatex(14px);
      }
   }
   &:after {
      content: '';
      top: 1px;
      left: 1px;
      width: 14px;
      height: 14px;
      -webkit-transition: all 0.2s cubic-bezier(0.5, 0.1, 0.75, 1.35);
      transition: all 0.2s cubic-bezier(0.5, 0.1, 0.75, 1.35);
      position: absolute;
      background-color: rgba(16, 185, 129, 1);
      border-radius: 9999px;
      -moz-transition: all 0.2s cubic-bezier(0.5, 0.1, 0.75, 1.35);
      -ms-transition: all 0.2s cubic-bezier(0.5, 0.1, 0.75, 1.35);
      -o-transition: all 0.2s cubic-bezier(0.5, 0.1, 0.75, 1.35);
   }
}
.hern-cart-plan-products__count-down {
   display: block;
   margin-bottom: 0.75rem;
}
.hern-cart-plan-products__list {
   overflow-y: auto;
   max-height: 257px;
}

.hern-cart-add-on-products__header {
   margin-top: 0.75rem;
   margin-bottom: 0.75rem;
   padding-bottom: 0.25rem;
   border-bottom-width: 1px;
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-align-items: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: justify;
   -webkit-justify-content: space-between;
   -ms-flex-pack: justify;
   justify-content: space-between;
}
.hern-cart-add-on-products__header__title {
   font-size: 1.125rem;
   line-height: 1.75rem;
   color: rgba(55, 65, 81, 1);
}
.hern-cart-add-on-products__header__explore-btn {
   color: rgba(6, 95, 70, 1);
   text-transform: uppercase;
   padding-left: 0.75rem;
   padding-right: 0.75rem;
   padding-top: 0.25rem;
   padding-bottom: 0.25rem;
   border-radius: 9999px;
   border-width: 1px;
   font-size: 0.875rem;
   line-height: 1.25rem;
   font-weight: 500;
   border-color: rgba(52, 211, 153, 1);
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-align-items: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-border-radius: 9999px;
   -moz-border-radius: 9999px;
   -ms-border-radius: 9999px;
   -o-border-radius: 9999px;
   > span {
      padding-left: 0.5rem;
   }
}
.hern-cart-add-on-products__list {
   overflow-y: auto;
   max-height: 257px;
}
/*Addons*/
.hern-cart-add-ons__section {
   margin-bottom: 2rem;
}
.hern-cart-add-ons__section__title {
   font-size: 1.125rem;
   line-height: 1.75rem;
   color: rgba(55, 65, 81, 1);
   margin-top: 0.75rem;
   margin-bottom: 0.75rem;
   padding-bottom: 0.25rem;
   border-bottom-width: 1px;
}
.hern-add-ons__products__list {
   display: grid;
   gap: 0.75rem;
   grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}
.hern-add-on__products__list-item {
   position: relative;
   border-width: 1px;
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-flex-direction: column;
   -ms-flex-direction: column;
   flex-direction: column;
   background-color: rgba(255, 255, 255, 1);
   padding: 0.5rem;
   border-radius: 0.25rem;
   overflow: hidden;
   -webkit-border-radius: 0.25rem;
   -moz-border-radius: 0.25rem;
   -ms-border-radius: 0.25rem;
   -o-border-radius: 0.25rem;
}

.hern-add-on__products__list-item--active {
   border-width: 2px;
   border-color: rgba(248, 113, 113, 1);
   border-color: #ccda01;
}

.hern-add-on__products__list-item__img {
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-align-items: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: center;
   -webkit-justify-content: center;
   -ms-flex-pack: center;
   justify-content: center;
   height: 12rem;
   background-color: rgba(229, 231, 235, 1);
   margin-bottom: 0.5rem;
   border-radius: 0.25rem;
   overflow: hidden;
   > img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
   }
}
.hern-add-on__products__list-item__info {
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-align-items: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: justify;
   -webkit-justify-content: space-between;
   -ms-flex-pack: justify;
   justify-content: space-between;
}
.hern-add-on__products__list-item__title {
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-align-items: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
}
.hern-add-on__products__list-item__check-icon {
   -webkit-flex-shrink: 0;
   -ms-flex-negative: 0;
   flex-shrink: 0;
   margin-right: 0.5rem;
   stroke: currentColor;
   color: rgba(209, 213, 219, 1);
}
.hern-add-on__products__list-item__check-icon--active {
   color: rgba(4, 120, 87, 1);
}

.hern-add-on__products__list-item__add-btn {
   font-size: 0.875rem;
   line-height: 1.25rem;
   text-transform: uppercase;
   font-weight: 500;
   -webkit-letter-spacing: 0.05em;
   -moz-letter-spacing: 0.05em;
   -ms-letter-spacing: 0.05em;
   letter-spacing: 0.05em;
   border-width: 1px;
   border-color: rgba(209, 213, 219, 1);
   border-radius: 0.25rem;
   padding-left: 0.25rem;
   padding-right: 0.25rem;
   color: rgba(107, 114, 128, 1);
}
