.hern-delivery__address--outside {
   .hern-form__text-area {
      border-radius: 0.5rem;
      max-height: 40px;
   }
   .hern-delivery__address-tunnel__label__btn-group {
      display: flex;
      align-items: center;
      gap: 1rem;
      .hern-delivery__address-tunnel__label__btn-group__btn {
         background-color: #fff;
         border: 0.3px solid #333333;
         border-radius: 7px;
         padding: 0.5rem 1.5rem;
         font-family: 'Lato';
         font-style: normal;
         font-weight: 500;
         font-size: 17px;
         line-height: 20px;
         color: #333333;
         display: flex;
         justify-content: center;
         align-items: center;
         cursor: pointer;
         gap: 8px;
         display: flex;
         align-items: center;
         justify-content: center;
         > svg {
            height: 18px;
            width: 18px;
         }
         &:hover {
            background: rgba(17, 130, 59, 0.2);
         }
      }
      .hern-delivery__address-tunnel__label__btn-group__btn--active {
         background: var(--hern-accent);
         color: #ffffff;
         border: 1.5px solid var(--hern-accent);
         color: var(--hern-accent);
         background: rgba(17, 130, 59, 0.1);
         > svg {
            stroke: var(--hern-accent);
         }
      }
   }
}
.hern-delivery__address-tunnel__address-label {
   .ant-input-group-wrapper {
      border: 0.300998px solid rgba(51, 51, 51, 0.4);
      border-radius: 7.02328px;
      border: 0.300998px solid rgba(51, 51, 51, 0.4);
      border-radius: 7.02328px;
      height: 40px;
      align-items: center;
      justify-content: center;
      display: flex;
   }
   .ant-input-group-addon:first-child {
      border-radius: 8px 0px 0px 8px;
   }
   .ant-input-group > .ant-input:last-child,
   .ant-input-group-addon:last-child {
      border-radius: 0px 8px 8px 0;
   }
   .ant-input-group {
      height: 100%;
   }
   .ant-input-group-addon {
      border: none;
      background-color: #fff;
   }

   .ant-input-group .ant-input {
      height: 100%;
      background: rgba(51, 51, 51, 0.05);
      border: none;
   }
   .ant-input:focus {
      border-color: var(--hern-accent);
      outline: 0;
      box-shadow: none;
      background-color: #fff;
   }

   &__addon-before {
      display: flex;
      align-items: center;
      gap: 8px;
      > span {
         font-family: 'Lato';
         font-style: normal;
         font-weight: 500;
         font-size: 17px;
         line-height: 20px;
         color: #333333;
      }
      svg {
         height: 18px;
         width: 18px;
      }
   }
}
.hern-delivery__address-tunnel__close-icon {
   stroke: currentColor;
}
.hern-delivery__address-tunnel__address-search {
   margin-bottom: 16px;
   .hern-form__label {
      margin-bottom: 0.5rem;
   }
   .hern-store-location-selector-main__location-input {
      background-color: #fff;
      border: 0.3px solid rgba(51, 51, 51, 0.4);
      border-radius: 0.5rem;
   }

   .google-places-autocomplete {
      width: 100%;
      position: relative;
   }
   .google-places-autocomplete__input {
      border-bottom-width: 1px;
      width: 100%;
      height: 2rem;
   }
   .google-places-autocomplete__input:focus {
      outline: none;
      border-color: rgba(55, 65, 81, 1);
   }
   .google-places-autocomplete__input:active,
   .google-places-autocomplete__input:focus,
   .google-places-autocomplete__input:hover {
      outline: 0;
      border: none;
   }
   .google-places-autocomplete__suggestions-container {
      background: #fff;
      border-radius: 0 0 5px 5px;
      color: #000;
      position: absolute;
      width: 100%;
      z-index: 2;
      box-shadow: 0 1px 16px 0 rgba(0, 0, 0, 0.09);
   }
   .google-places-autocomplete__suggestion {
      font-size: 1rem;
      text-align: left;
      padding: 10px;
      cursor: pointer;
   }
   .google-places-autocomplete__suggestion:hover {
      background: rgba(0, 0, 0, 0.1);
   }
   .google-places-autocomplete__suggestion--active {
      background: #e0e3e7;
   }
}
.hern-delivery__address-tunnel__country-zip-code {
   display: flex;
   flex-direction: column;
   gap: 0.75rem;
   @media only screen and (min-width: 768px) {
      flex-direction: row;
   }
   @media only screen and (min-width: 980px) {
      flex-direction: column;
   }
}
.hern-delivery__address-tunnel__save-btn {
   background: var(--hern-accent);
   font-family: 'Lato';
   font-style: normal;
   font-weight: 500;
   font-size: 20px;
   line-height: 24px;
   color: #ffffff;
   border-radius: 999px;
   padding: 0.75rem 3rem;
   display: flex;
   margin: 2.5rem auto 0 auto;
   &:hover {
      opacity: 0.8;
   }
   &--disabled {
      cursor: not-allowed;
      background: rgba(17, 130, 59, 0.2);
      color: rgba(51, 51, 51, 0.6);
   }
}
.hern-select-delivery__message {
   background: rgba(51, 51, 51, 0.1);
   border-radius: 6.8px;
   text-align: center;
   font-family: 'Lato';
   font-style: normal;
   font-weight: 400;
   font-size: 1rem;
   line-height: 20px;
   color: #333333;
   padding: 0.75rem;
}

.hern-delivery {
   &__main {
      max-width: 1150px;
      padding: 1rem;
      margin: 0 auto;
   }
   &__card {
      display: flex;
      margin-bottom: 2rem;
      &:last-child {
         margin-bottom: 0;
      }
      &__counter {
         margin-top: 1.5rem;
         width: 2.75rem;
         height: 2.75rem;
         border-radius: 50%;
         display: flex;
         align-items: center;
         justify-content: center;
         background: #ffffff;
         border: 0.5px solid rgba(51, 51, 51, 0.2);
         margin-right: -8px;
         z-index: 99;
         > span {
            font-family: 'Inter', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 1.25rem;
            color: rgba(51, 51, 51, 0.4);
         }
         &--active {
            background-color: var(--hern-accent);

            > span {
               color: #ffffff;
            }
         }
      }
      &__content__wrapper {
         background: #ffffff;
         box-shadow: 0px 0px 29px rgba(0, 0, 0, 0.08);
         border-radius: 4px;
         width: 100%;
         padding: 2rem 3rem;
      }
      &__content {
         display: block;
      }
      &__content__header {
         font-family: 'Lato';
         font-style: normal;
         font-weight: 600;
         font-size: 1.75rem;
         color: rgba(51, 51, 51, 0.4);
         display: flex;
         align-items: center;
         gap: 0.5rem;
         margin-bottom: 1.5rem;
         &--active {
            color: #333333;
         }
         &__add-address-btn {
            margin-left: auto;
            cursor: pointer;
            &:hover {
               color: var(--hern-accent);
            }
         }
      }
   }
   &__continue-btn {
      background: var(--hern-accent);
      border-radius: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 1.5rem auto;
      font-family: 'Lato';
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      color: rgba(51, 51, 51, 0.6);
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      padding: 0.75rem 3.5rem;
      color: #ffffff;
      &:hover {
         opacity: 0.8;
      }
      &--disabled {
         background: rgba(17, 130, 59, 0.2);
         cursor: not-allowed;

         &:hover {
            opacity: 0.8;
         }
      }
   }
}
.hern-delivery__address {
   &__add-change-btn {
      display: flex;
      margin: -4rem 0 2rem auto;
      width: 100%;
      justify-content: flex-end;
      &--add {
         background: #ffffff;
         box-shadow: 0px 2px 10px rgba(17, 130, 59, 0.18);
         font-family: 'Lato';
         font-style: normal;
         font-weight: 600;
         font-size: 19.29px;
         line-height: 23px;
         color: var(--hern-accent);
         padding: 0.5rem 1.5rem;
         border-radius: 999px;
         display: flex;
         align-items: center;
         gap: 0.5rem;
         &:hover {
            opacity: 0.8;
            box-shadow: none;
         }
      }
      &--change {
         font-family: 'Inter';
         font-style: normal;
         font-weight: 600;
         font-size: 1rem;
         line-height: 20px;
         color: var(--hern-accent);
         &:hover {
            opacity: 0.8;
         }
      }
   }

   &__list {
      display: grid;
      gap: 20px;
      height: auto;
      // grid-auto-rows: minmax(130px, auto);
      // @media only screen and (min-width: 640px) {
      //    grid-template-columns: repeat(1, minmax(0, 1fr));
      // }
      @media only screen and (min-width: 768px) {
         grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      }
   }
   &__list-item {
      background: #ffffff;
      box-shadow: 0px 0px 29px rgba(0, 0, 0, 0.08);
      border-radius: 3px;
      padding: 1rem;
      &--active {
         border: 1px solid var(--hern-accent);
      }
      &__header {
         display: flex;
         align-items: center;
         margin-bottom: 1rem;
         &__title {
            margin-left: 0.5rem;
            font-family: 'Lato';
            font-style: normal;
            font-weight: 500;
            font-size: 1.25rem;
            line-height: 23px;
            color: #333333;
            text-transform: capitalize;
         }
         &__options {
            margin-left: auto;
         }
         &__change-btn {
            margin-left: auto;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 1rem;
            line-height: 20px;
            color: var(--hern-accent);
         }
      }
      &__address {
         font-family: 'Inter';
         font-style: normal;
         font-weight: 400;
         font-size: 0.875rem;
         line-height: 19px;
         color: rgba(51, 51, 51, 0.6);
         margin-bottom: 1rem;
         min-height: 96px;
      }
      &__select-address-btn {
         background: var(--hern-accent);
         border-radius: 9999px;
         display: flex;
         align-items: center;
         justify-content: center;
         margin: 0 auto;
         font-family: 'Lato';
         font-style: normal;
         font-weight: 500;
         font-size: 0.875rem;
         line-height: 24px;
         color: rgba(51, 51, 51, 0.6);
         cursor: pointer;
         transition: all 0.2s ease-in-out;
         padding: 0.35rem 1.5rem;
         color: #ffffff;

         &:hover {
            opacity: 0.8;
         }
         &--disabled {
            background: rgba(17, 130, 59, 0.2);
            cursor: not-allowed;

            &:hover {
               opacity: 0.8;
            }
         }
      }
   }
   &__tunnel {
      margin-top: 3rem;
   }
}
.hern-delivery__delivery-days {
   &__list {
      display: grid;
      gap: 1.25rem 0.875rem;
      height: auto;
      grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
   }
   &__list-item {
      background: #ffffff;
      box-shadow: 0px 0.944424px 7.5554px rgba(0, 0, 0, 0.1);
      border-radius: 6px;
      padding: 0.875rem;
      max-width: 250px;
      &--active {
         background: rgba(17, 130, 59, 0.1);
         border: 1.5px solid var(--hern-accent);
         .hern-delivery__delivery-days__label {
            color: var(--hern-accent);
         }
      }
      &--invalid {
         background: rgba(255, 0, 0, 0.1);
         border: 1.5px solid rgba(255, 0, 0, 0.1);
         .hern-delivery__delivery-days__label {
            color: rgba(255, 0, 0, 0.6);
         }
      }
   }
   &__label {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: rgba(51, 51, 51, 0.8);
      text-transform: capitalize;
   }
   &__fulfillment {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 0.875rem;
      &__delivery {
         display: flex;
         align-items: center;
         gap: 4px;
         p {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: rgba(51, 51, 51, 0.6);
         }
      }
      &__pickup {
         display: flex;
         align-items: center;
         gap: 4px;
         p {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: rgba(51, 51, 51, 0.6);
         }
      }
   }
}
.hern-delivery__delivery-date {
   &__list {
      display: grid;
      gap: 1.25rem;
      height: auto;
      grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
   }
   &__list-item {
      background: #ffffff;
      box-shadow: 0px 0.944424px 7.5554px rgba(0, 0, 0, 0.1);
      border-radius: 6px;
      padding: 0.6rem;
      text-align: center;
      &--active {
         background: rgba(17, 130, 59, 0.1);
         border: 1.5px solid var(--hern-accent);
         .hern-delivery__delivery-date__list-item__label {
            color: var(--hern-accent);
         }
      }
   }
   &__list-item__label {
      font-family: 'Lato';
      font-style: normal;
      font-weight: 500;
      font-size: 1rem;
      line-height: 19px;
      color: #333333;
   }
}
