.hern-address-list {
   padding: 1.25rem;
}
.hern-address-list__header {
   display: flex;
   align-items: center;
   gap: 1rem;
   margin-bottom: 1rem;
}
.hern-address-list__heading {
   font-family: 'Inter';
   font-style: normal;
   font-weight: 500;
   font-size: 18px;
   line-height: 22px;
   color: #333333;
}
.hern-address-list-container__address {
   height: calc(100vh - 4.5rem);
   overflow-y: auto;
}
.hern-address-list__address {
   background: #ffffff;
   box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.08);
   border-radius: 8px;
   padding: 12px;
   margin-bottom: 1rem;
   &--active {
      border: 1.5px solid var(--hern-accent);
   }
   &:hover {
      box-shadow: none;
      cursor: pointer;
      border: 0.5px solid var(--hern-accent);
   }
   > h4 {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      color: rgba(51, 51, 51, 0.6);
      margin-bottom: 8px;
   }
   > address {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: rgba(51, 51, 51, 0.4);
      margin-bottom: auto;
   }
}
