.hern__btn {
   height: 2.5rem;
   border-radius: 0.25rem;
   padding: 0 2rem;
   color: #fff;
   background: var(--hern-accent);
   -webkit-border-radius: 0.25rem;
   -moz-border-radius: 0.25rem;
   -ms-border-radius: 0.25rem;
   -o-border-radius: 0.25rem;
   transition: all 0.3s ease-in-out;
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   &:not(.hern__btn--disabled):hover {
      transform: translateY(-4px);
      -webkit-transform: translateY(-4px);
      -moz-transform: translateY(-4px);
      -ms-transform: translateY(-4px);
      -o-transform: translateY(-4px);
      box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000,
         0 10px 15px -3px rgba(0, 0, 0, 0.1);
   }
   &:focus {
      outline: none;
   }
}
.hern__btn--disabled {
   height: 2.5rem;
   border-radius: 0.25rem;
   padding: 0 2rem;
   color: #fff;
   -webkit-border-radius: 0.25rem;
   -moz-border-radius: 0.25rem;
   -ms-border-radius: 0.25rem;
   -o-border-radius: 0.25rem;
   cursor: not-allowed;
   background-color: rgba(209, 213, 219, 1) !important;
}

.hern__btn--warn {
   background-color: rgba(253, 230, 138, 1) !important;
   color: rgba(245, 158, 11, 1);
   border-color: rgba(253, 230, 138, 1);
   &:hover {
      background-color: rgba(245, 158, 11, 1) !important;
      color: rgba(255, 255, 255, 1);
      border-color: rgba(245, 158, 11, 1);
   }
}
.hern__btn--danger {
   background-color: rgba(254, 202, 202, 1) !important;
   color: rgba(239, 68, 68, 1);
   border-color: rgba(254, 202, 202, 1);
   &:hover {
      background-color: rgba(239, 68, 68, 1) !important;
      color: rgba(255, 255, 255, 1);
   }
}
.hern__btn--dull {
   background-color: rgba(229, 231, 235, 1) !important;
   color: rgba(107, 114, 128, 1);
   border-color: rgba(229, 231, 235, 1);
   &:hover {
      background-color: rgba(107, 114, 128, 1) !important;
      color: rgba(255, 255, 255, 1);
   }
}
.hern__btn--outline {
   border: 1px solid var(--hern-accent);
   color: var(--hern-accent);
   background: transparent;
   &:hover {
      opacity: 0.7;
   }
}
.hern__btn--ghost {
   background-color: transparent;
   border: none;
   outline: none;
   font-weight: bold;
   font-size: 16px;
   line-height: 16px;
   color: var(--hern-accent);
   height: auto;
   padding: 0;
   &:not(.hern__btn--disabled):hover {
      transform: none;
      box-shadow: none;
   }
   &:focus {
      outline: none;
   }
   &:hover {
      opacity: 0.7;
   }
}
.hern__btn--outline--disabled {
   color: #e5e5e5;
   border: 1px solid #e5e5e5;
}
