.hern-card-list {
   padding: 16px;
}
.hern-card-list__header {
   margin-bottom: 16px;
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-align-items: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: justify;
   -webkit-justify-content: space-between;
   -ms-flex-pack: justify;
   justify-content: space-between;
}
.hern-card-list__heading {
   font-size: inherit;
   font-weight: inherit;
}
.hern-card-list__close-btn {
   border-radius: 9999px;
   border-width: 2px;
   border-color: rgba(52, 211, 153, 1);
   height: 1.5rem;
   width: 2rem;
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-align-items: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: center;
   -webkit-justify-content: center;
   -ms-flex-pack: center;
   justify-content: center;
}
.hern-card-list__card {
   border-width: 2px;
   border-color: rgba(209, 213, 219, 1);
   padding: 0.5rem;
   margin-bottom: 0.5rem;
   border-radius: 0.125rem;
   cursor: pointer;
   &:hover {
      border-color: rgba(16, 185, 129, 1);
   }
}
.hern-card-list__card__name {
   color: rgba(107, 114, 128, 1);
}
.hern-card-list__card__last-4 {
   display: block;
}
.hern-card-list__card__exp {
   display: block;
}
.hern-card-list__card__brand {
   font-size: 0.875rem;
   line-height: 1.25rem;
   color: rgba(107, 114, 128, 1);
   text-transform: uppercase;
}
