.hern-cart-product {
   height: auto;
   padding-top: 0.5rem;
   padding-bottom: 0.5rem;
   background-color: #ffffff;
   display: grid;
   align-items: flex-start;
   padding-left: 0.5rem;
   padding-right: 0.5rem;
   border-radius: 0.25rem;
   grid-template-columns: 96px 1fr auto;
   -webkit-border-radius: 0.25rem;
   -moz-border-radius: 0.25rem;
   -ms-border-radius: 0.25rem;
   -o-border-radius: 0.25rem;
   margin-bottom: 0.75rem;
   box-shadow: 0px 2px 16px rgb(0 0 0 / 8%);
   border-radius: 8px;
}
.hern-cart-product__info {
   padding-left: 0.75rem;
   display: flex;
   flex-direction: column;
   height: 100%;
   justify-content: space-between;
   padding-bottom: 12px;
}

.hern-cart-product__name {
   color: #3f4441;
   font-weight: 500;
   font-size: 16px;
   font-family: 'Inter';
}
.hern-cart-product__quantity {
   color: var(--hern-accent);
   font-family: 'Inter';
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   line-height: 17px;
}

.hern-cart-product__tag {
   display: block;
   font-size: 0.875rem;
   line-height: 1.25rem;
   border-radius: 0.25rem;
   background-color: #e5e7eb;
   color: #4b5563;
   border-width: 1px;
   border-color: #e5e7eb;
   margin-right: 0.25rem;
   margin-left: auto;
   width: fit-content;
   border-radius: 9999px;
   padding: 2px 8px;
   font-family: 'Inter';
   font-style: normal;
   font-weight: 500;
   font-size: 10px;
   line-height: 12px;
   color: rgba(51, 51, 51, 0.6);
}

.hern-cart-product__img {
   width: 100%;
   height: 4rem;
   background-color: rgba(209, 213, 219, 1);
   border-radius: 0.25rem;
   display: flex;
   align-items: flex-start;
   justify-content: center;
   overflow: hidden;
   flex-shrink: 0;
   position: relative;
   padding-bottom: calc(3 / 4 * 100%);
   > img {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
   }
}
.hern-cart-product__remove {
   height: 100%;
   margin-top: 8px;
   margin-right: 8px;
}
.hern-cart-product__remove__btn {
   cursor: pointer;
   // background-color: rgba(243, 244, 246, 1);
   // height: 1.5rem;
   // width: 1.5rem;
   border-radius: 9999px;
   display: flex;
   align-items: center;
   justify-content: center;
   -webkit-border-radius: 9999px;
   -moz-border-radius: 9999px;
   -ms-border-radius: 9999px;
   -o-border-radius: 9999px;
}
