.hern-coupon {
   border: 1px dashed var(--hern-accent);
   padding: 8px;
   border-radius: 2px;
   background-color: #ffffff;
   margin-bottom: 18px;
}
.hern-coupon__apply-btn {
   color: var(--hern-accent);
   text-transform: capitalize;
   text-align: center;
   width: 100%;
   font-weight: 500;
}
.hern-coupon__wrapper {
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 100%;
}
.hern-coupon__coupon-code {
   font-weight: 700;
   text-transform: uppercase;
   padding-bottom: 0;
}
.hern-coupon__coupon-comment {
   color: gray;
}
.hern-coupon__coupon__cancel-btn {
   color: #ff5a52;
   font-size: 1.4rem;
   cursor: pointer;
   border: none;
   outline: none;
}

.hern-coupon__form {
   padding: 8px 0;
   border-radius: 2px;
   display: flex;
   align-items: flex-end;
   position: relative;
   gap: 8px;
}

.hern-coupon__see-all-btn {
   position: absolute;
   top: 4px;
   right: 4px;
   font-size: 12px;
   color: var(--hern-accent);
}
.hern-coupon__input-wrapper {
   display: block;
}
.hern-coupon__input {
   border: 1px solid #cacaca;
   padding: 4px;
   border-radius: 2px;
   display: block;
}
.hern-coupon__input-label {
   display: block;
}
.hern-coupon__form__apply-btn {
   color: var(--hern-accent);
   padding: 4px;
   text-transform: uppercase;
   text-align: center;
   width: 100%;
}

// for kiosk
.hern-kiosk-coupon__form {
   display: flex;
   width: 100%;
   justify-content: space-between;
   height: 5em;
}
.hern-kiosk-coupon__input-wrapper {
   display: flex;
   width: 70%;
   align-items: center;
}
.hern-kiosk-coupon__input-label {
   width: 12em;
   font-size: 1.7em;
   font-weight: 600;
   color: #5a5a5a;
   letter-spacing: 0.08em;
}
.hern-kiosk-coupon__input {
   border-bottom: 1px solid rebeccapurple;
   width: 100%;
   height: 3em;
   font-size: 1.5em;
   font-weight: 600;
}
.hern-kiosk-coupon__form__apply-btn {
   width: 10em;
   font-size: 1.5em;
   // text-align: end;
   font-weight: 500;
   letter-spacing: 0.08em;
   border-radius: 0.5em;
}

.hern-kiosk-coupon__coupon-code {
   font-size: 1.5em;
}
.hern-kiosk-coupon__coupon-comment {
   font-size: 1.2em;
   font-style: italic;
}
.hern-kiosk-coupon__coupon__cancel-btn {
   font-size: 4em;
   color: #ff5a52;
}
//for upfront
.hern-upfront-coupon__input-wrapper {
   display: block;
   flex: 4;
}
.hern-upfront-coupon__input {
   display: block;
   background: #f4f4f4;
   border-radius: 8px;
   padding: 10px;
   width: 100%;
   background: #f9f9f9;
   box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
   border-radius: 4px;
   ::placeholder {
      color: rgba(64, 64, 64, 0.25);
      font-weight: 600;
      font-size: 18px;
      line-height: 20px;
   }
}
.hern-upfront-coupon__input-label {
   display: none;
}
.hern-upfront-coupon__form__apply-btn {
   color: white;
   padding: 10px 28px 28px 28px;
   margin: 0px 8px;
   text-transform: uppercase;
   text-align: center;
   width: fit-content;
   border-radius: 12px;
   flex: 1;
   padding: 10px 28px;
   margin: 0px 20px;
   height: auto;
   :disabled {
      color: #cacaca;
      cursor: no-drop;
   }
}
.hern-upfront-coupon-header__label {
   display: block;
   font-weight: 600;
   font-size: 20px;
   line-height: 22px;
   color: rgba(64, 64, 64, 0.8);
   margin: 0 10px;
}
.hern-upfront-coupon-header__tunnel {
   display: flex;
   justify-content: space-between;
   background-color: #f3f3f3;
   border-radius: 12px;
   padding: 12px;
   > div {
      display: flex;
      align-items: center;
      > span {
         margin-right: 16px;
         display: inline-block;
         padding: 8px;
         background-color: var(--hern-accent);
         border-radius: 12px;
      }
   }
   button {
      display: flex;
      border: none;
      outline: none;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: var(--hern-accent);
      align-items: center;
      > span {
         display: inline-block;
         margin-right: 4px;
      }
   }
   h4 {
      font-weight: 600;
      font-size: 20px;
      line-height: 20px;
      color: #404040;
      margin-bottom: 4px;
   }
}
