.hern-cart__fulfillment-card {
   margin: 10px;
}
.hern-cart__fulfillment-heading {
   display: flex;
   align-items: center;
}
.hern-cart__fulfillment-heading-text {
   margin: 0 10px;
   font-style: normal;
   font-weight: 600;
   font-size: 20px;
   line-height: 22px;
   color: rgba(64, 64, 64, 0.8);
}
