.hern-header {
   height: 64px;
   z-index: 1000;
   grid-template-columns: auto auto 1fr auto;
   width: 100%;
   display: grid;
   background-color: rgba(255, 255, 255, 1);
   border-bottom-width: 1px;
   -webkit-align-items: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   position: sticky;
   top: 0;
}
.hern-header--grid-3-col {
   grid-template-columns: auto 1fr auto !important;
}
.hern-header__brand {
   height: 100%;
   padding-left: 0.5rem;
   padding-right: 0.5rem;
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-align-items: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   > img {
      height: 3rem;
   }
   > span {
      margin-left: 0.5rem;
   }

   @media (min-width: 768px) {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
   }
}

.hern-header__auth {
   padding-left: 0.5rem;
   padding-right: 0.5rem;
   margin-left: auto;
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -webkit-justify-content: center;
   -ms-flex-pack: center;
   justify-content: center;
   align-items: center;
   @media (min-width: 768px) {
      padding-left: 1rem;
      padding-right: 1rem;
   }
}

.hern-header__logout {
   background-color: rgba(37, 99, 235, 1);
   color: rgba(255, 255, 255, 1);
   border-radius: 0.25rem;
   padding-left: 0.5rem;
   padding-right: 0.5rem;
   padding-top: 0.25rem;
   padding-bottom: 0.25rem;
   transition: all 0.3s ease;
   &:focus {
      outline: none;
   }
   &:hover {
      opacity: 0.7;
   }
   @media (min-width: 768px) {
      width: auto;
   }
}
.hern-header__menu-btn {
   border-radius: 0.25rem;
   padding-left: 0.5rem;
   padding-right: 0.5rem;
   padding-top: 0.25rem;
   padding-bottom: 0.25rem;
   display: inline-block;
   margin-left: 0.5rem;

   &:focus {
      outline: none;
   }
   &:hover {
      opacity: 0.7;
   }
   @media (min-width: 768px) {
      display: none;
   }
}
.hern-header__logout-btn {
   color: rgba(220, 38, 38, 1);
   border-radius: 0.25rem;
   padding-left: 0.5rem;
   padding-right: 0.5rem;
   padding-top: 0.25rem;
   padding-bottom: 0.25rem;
   &:focus {
      outline: none;
   }
   &:hover {
      opacity: 0.7;
   }
}
.hern-navigatin-menu__wrapper {
   display: none;
   -webkit-align-items: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: justify;
   -webkit-justify-content: space-between;
   -ms-flex-pack: justify;
   justify-content: space-between;
   @media (min-width: 768px) {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
   }
}
.hern-navigatin-menu__wrapper--mobile {
   position: absolute;
   display: block;
   padding-left: 1rem;
   padding-right: 1rem;
   --tw-bg-opacity: 1;
   background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
   width: 100%;
   top: 6rem;
   list-style-type: none;
   -webkit-transition-property: all;
   transition-property: all;
   -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
   -webkit-transition-duration: 200ms;
   transition-duration: 200ms;
   @media (min-width: 768px) {
      display: none;
   }
}
