.hern-login-v1-container {
}
.hern-login-v1-container__img {
   display: none;
   height: 400px;
   width: auto;
   > img {
      height: 100%;
      width: 100%;
   }
}
.hern-login-v1__css-transition-enter {
   height: 0;

   opacity: 0;
}
.hern-login-v1__css-transition-enter-active {
   transition: all 0.4s;
   height: 100vh;

   opacity: 1;
}
.hern-login-v1__css-transition-exit {
   opacity: 1;
   height: 100vh;
}
.hern-login-v1__css-transition-exit-active {
   transition: all 0.4s;
   height: 0;

   opacity: 0;
}

.hern-login-v1-content {
   background-color: #ffffff;
   height: 100vh;
   width: 100vw;
   padding: 0;
}

.hern-login-v1-header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 1em;
   > span {
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
   }
}
.hern-login-v1__custom-warning {
   background-color: rgba(253, 230, 138, 1);
   margin: 1em;
   padding: 1em 0.5em;
   span {
      color: var(--hern-accent);
      cursor: pointer;
   }
}
.hern-login-v1__email {
   margin: 1em;
}

.hern-login-v1__fieldset {
   display: flex;
   flex-direction: column;
   margin: 16px 0 5px;
   input::-webkit-outer-spin-button,
   input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
   }
   input[type='number'] {
      -moz-appearance: textfield;
   }
}

.hern-login-v1__label {
   margin: 4px 0;
}

.hern-login-v1__input {
   height: 40px;
   background: #38a1691a;
   border-radius: 8px;
   padding: 0 10px;
   outline: none;
   &:focus {
      background: #38a1691a;
      outline: 1px solid var(--hern-accent);
   }
}

.hern-login-v1__password-config {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.hern-login-v1__show-password {
   display: flex;
   align-items: center;
   > span {
      font-weight: 600;
      font-size: 14px;
      line-height: 18px;
      margin: 0 9px;
   }
}

.hern-login-v1__forgot-password {
   font-weight: 600;
   font-size: 14px;
   line-height: 18px;
   color: var(--hern-accent);
   cursor: pointer;
}

.hern-login-v1__error {
   -webkit-align-self: flex-start;
   -ms-flex-item-align: start;
   align-self: flex-start;
   display: block;
   color: rgba(239, 68, 68, 1);
   margin-top: 0.5rem;
}

.hern-login-v1__login-btn {
   margin-top: 2.5em;
   width: 100%;
   border-radius: 20px;
   // background-color: var(--hern-accent) !important;
   transform: none !important;
   box-shadow: none !important;
   color: '#ffffff' !important;
   outline: none !important;
   height: 40px;
}

.hern-login-v1__login-btn--disabled {
   background: #808080 !important;
   cursor: not-allowed;
   color: '#ffffff' !important;
   opacity: 0.5;
}

.hern-login-v1-divider-bar {
   display: flex;
   width: 100%;
   justify-content: center;
   align-items: center;
   > span {
      font-weight: 600;
      font-size: 18px;
      line-height: 18px;
      color: var(--hern-accent);
   }
}

.hern-login-login-switcher-btn {
   width: 100%;
   background: #ffffff !important;
   border: 1px solid var(--hern-accent) !important;
   box-sizing: border-box;
   border-radius: 20px;
   // color: var(--hern-accent);
   height: 40px;
}

.hern-login-v1__otp {
   margin: 1em;
}

.hern-login-v1__otp-submit {
   margin-top: 1.5em;
   border-radius: 20px !important;
   width: 100%;
   background-color: var(--hern-accent) !important;
   color: #ffffff !important;
}

.hern-login-v1__otp-submit--disabled {
   background-color: #808080 !important;
   cursor: not-allowed;
   opacity: 0.5;
}

.hern-login-v1__otp__phone__input {
   input {
      height: 40px;
      background: #f4f4f4;
      border-radius: 8px;
      padding: 0 10px;
      outline: none;
      &:focus {
         outline: 1px solid var(--hern-accent);
      }
   }
}
.hern-login-v1__otp__phone__input-invalid {
   input {
      &:focus {
         outline: 1px solid rgba(239, 68, 68, 1) !important;
      }
   }
}
.hern-login-v1__otp__phone__error {
   color: #ef4444;
   font-size: 14px;
   line-height: 15px;
}
.hern-login-v1__otp__phone__input-valid {
   input {
      &:focus {
         outline: 1px solid #6ecb63 !important;
      }
   }
}
.hern-login-v1__otp__error {
   align-self: center;
   display: block;
   margin-top: 0.5rem;
   color: rgba(239, 68, 68, 1);
}

.hern-login-v1__otp__resend__time {
   display: flex;
   margin-top: 0.5rem;
   text-align: center;
}
.hern-login-v1__otp__resend {
   margin-top: 0.5rem;
   border-radius: 0.25rem;
   width: 100%;
   height: 2.5rem;
   // text-transform: uppercase;
   color: var(--hern-accent);
   // letter-spacing: 0.05em;
   border-radius: 20px;
   outline: none !important;
   &:hover {
      border: 1px solid var(--hern-accent) !important;
   }
}

.hern-login-v1__otp__resend--disabled {
   cursor: not-allowed;
   opacity: 0.5;
   &:hover {
      background: #808080;
   }
}

.hern-login-v1__footer {
   margin-top: 3em;
   display: flex;
   justify-content: center;
   align-items: center;
   > span {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;
      color: #404040;
      font-weight: 400;
   }
}
.hern-login-v1__create-one-btn {
   color: var(--hern-accent);
   outline: none !important;
   background: transparent;
   font-size: 14px;
   line-height: 18px;
   font-weight: 600;
   margin-left: 2px;
   height: 40px;
}

.hern-forgot-password-v1 {
   margin: 1em;
}

.hern-forgot-password-v1__submit-btn {
   margin-top: 2.5em;
   width: 100%;
   border-radius: 20px;
   background-color: var(--hern-accent) !important;
   transform: none !important;
   box-shadow: none !important;
   color: #ffffff;
   height: 40px;
}
.hern-forgot-password-v1__submit-btn--disabled {
   background: #808080 !important;
   cursor: not-allowed;
   opacity: 0.5;
}

.hern-signup-v1 {
   margin: 1em;
}

.hern-signup-v1__password-config {
   display: flex;
   align-items: center;
   > span {
      font-weight: 600;
      font-size: 14px;
      line-height: 18px;
      margin: 0 9px;
   }
}

.hern-signup-v1__signup-error {
   align-self: flex-start;
   margin-bottom: 0.5rem;
   display: block;
   color: rgba(239, 68, 68, 1);
   font-size: 12px;
}

.hern-signup__referral-code {
   align-self: flex-start;
   margin-bottom: 0.25rem;
   color: var(--hern-accent);
}

.hern-signup-v1__signup__term {
   align-self: flex-start;
   margin-top: 0.5rem;
   margin-bottom: 0.75rem;
}

.hern-signup-v1__signup__term__checkbox {
   margin-right: 0.5rem;
}

.hern-signup__signup__term__link {
   color: var(--hern-accent);
}

.hern-signup-v1__referral-code {
   color: var(--hern-accent);
   cursor: pointer;
   outline: none !important;
}

.hern-signup-v1__signup__submit {
   width: 100%;
   border-radius: 20px !important;
   color: #ffffff;
   height: 40px;
   outline: none !important;
   background-color: var(--hern-accent) !important;
}

.hern-signup-v1__signup__submit--disabled {
   background: #808080 !important;
   cursor: not-allowed;
   opacity: 0.5;
}

.hern-signup-v1__signup__email-already-exits {
   margin-bottom: 1rem;
   color: rgba(75, 85, 99, 1);
}

.hern-signup-v1__signup__login-switch {
   align-self: flex-start;
   margin-top: 0.5rem;
   color: var(--hern-accent);
   outline: none !important;
}

.hern-signup-v1__signup__forgot-text {
   color: rgba(5, 150, 105, 1);
   margin-top: 0.75rem;
}

.hern-login-v1__social__login {
   margin: 1em;
}

.hern-login-v1__social__login__providers {
   display: flex;
   justify-content: center;
   align-items: center;
}

.hern-login-v1__social__login__provider {
   margin: 0 0.5em;
}

.hern-login-v1__social_login_skeleton {
   animation: social-icon-skeleton-loading 1s linear infinite alternate;
   margin-right: 0.75rem;
   display: -webkit-inline-box;
   display: -webkit-inline-flex;
   display: -ms-inline-flexbox;
   display: inline-flex;
   -webkit-align-items: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: center;
   -webkit-justify-content: center;
   -ms-flex-pack: center;
   justify-content: center;
   border-radius: 9999px;
   height: 2.5rem;
   width: 2.5rem;
   --tw-bg-opacity: 1;
   background-color: rgba(229, 231, 235, var(--tw-bg-opacity));
}

@keyframes social-icon-skeleton-loading {
   0% {
      background-color: hsl(200, 20%, 80%);
   }
   100% {
      background-color: hsl(200, 20%, 95%);
   }
}

@media only screen and (min-width: 769px) {
   .hern-login-v1-container__img {
      display: block;
   }
   .hern-login-v1-container {
      background-color: rgb(251, 252, 246);
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 96px;
      padding: 16px;
      min-height: 80vh;
   }
   .hern-login-v1-content {
      padding: 20px;
      max-width: 460px;
      height: auto;
      background: #ffffff;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
      border-radius: 12px;
   }
}
.hern-login-v1__forgot-password__email-sent {
   padding: 48px 0;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

   > h3 {
      font-size: 18px;
      line-height: 18px;
      color: var(--hern-accent);
      font-weight: 400;
      > span {
         font-size: 20px;
         font-weight: 500;
      }
   }
   p {
      font-size: 14px;
      line-height: 18px;
      color: #404040;
      font-weight: 400;
   }
   button {
      margin-top: 24px;
   }
   a {
      color: #fff;
      text-decoration: none;
   }
   a:hover {
      color: #fff !important;
   }
}
.hern-forgot-password-v1__error {
   color: #ef4444;
}
