.hern-login-v1-container {
   position: fixed;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   z-index: 1000;
   overflow: hidden;
   background-color: #ffffff;
   transition: all 0.4s ease-in-out;
}
.hern-login-v1__css-transition-enter {
   height: 0;
   width: 0;
   opacity: 0;
}
.hern-login-v1__css-transition-enter-active {
   transition: all 0.4s;
   height: 100vh;
   width: 100vw;
   opacity: 1;
}
.hern-login-v1__css-transition-exit {
   opacity: 1;
   height: 100vh;
   width: 100vw;
}
.hern-login-v1__css-transition-exit-active {
   transition: all 0.4s;
   height: 0;
   width: 0;
   opacity: 0;
}

.hern-login-v1-content {
   background-color: #ffffff;
   height: 100vh;
   width: 100vw;
   padding: 0;
}

.hern-login-v1-header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 1em;
   > span {
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
   }
}

.hern-login-v1__email {
   margin: 1em;
}

.hern-login-v1__fieldset {
   display: flex;
   flex-direction: column;
   margin: 16px 0;
}

.hern-login-v1__label {
   margin: 4px 0;
}

.hern-login-v1__input {
   height: 40px;
   background: #f4f4f4;
   border-radius: 8px;
   padding: 0 10px;
   outline: none;
   &:focus {
      outline: 1px solid #367bf5;
   }
}

.hern-login-v1__password-config {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.hern-login-v1__show-password {
   display: flex;
   align-items: center;
   > span {
      font-weight: 600;
      font-size: 14px;
      line-height: 18px;
      margin: 0 9px;
   }
}

.hern-login-v1__forgot-password {
   font-weight: 600;
   font-size: 14px;
   line-height: 18px;
   color: #367bf5;
   cursor: pointer;
}

.hern-login-v1__error {
   -webkit-align-self: flex-start;
   -ms-flex-item-align: start;
   align-self: flex-start;
   display: block;
   color: rgba(239, 68, 68, 1);
   margin-top: 0.5rem;
}

.hern-login-v1__login-btn {
   margin-top: 2.5em;
   width: 100%;
   border-radius: 20px;
   background-color: #367bf5 !important;
   transform: none !important;
   box-shadow: none !important;
   color: '#ffffff' !important;
   outline: none !important;
}

.hern-login-v1__login-btn--disabled {
   background: #367bf580 !important;
   cursor: not-allowed;
   color: '#ffffff' !important;
}

.hern-login-v1-divider-bar {
   display: flex;
   width: 100%;
   justify-content: center;
   align-items: center;
   > span {
      font-weight: 600;
      font-size: 18px;
      line-height: 18px;
      color: rgba(64, 64, 64, 0.25);
   }
}

.hern-login-login-switcher-btn {
   width: 100%;
   background: #ffffff !important;
   border: 1px solid #367bf5 !important;
   box-sizing: border-box;
   border-radius: 20px;
   color: #367bf5;
}

.hern-login-v1__otp {
   margin: 1em;
}

.hern-login-v1__otp-submit {
   margin-top: 1.5em;
   border-radius: 20px !important;
   width: 100%;
   background-color: #367bf5 !important;
   color: #ffffff !important;
}

.hern-login-v1__otp-submit--disabled {
   background-color: #367bf580 !important;
   cursor: not-allowed;
}

.hern-login-v1__otp__phone__input {
   input {
      height: 40px;
      background: #f4f4f4;
      border-radius: 8px;
      padding: 0 10px;
      outline: none;
      &:focus {
         outline: 1px solid #367bf5;
      }
   }
}
.hern-login-v1__otp__phone__input-invalid {
   input {
      &:focus {
         outline: 1px solid rgba(239, 68, 68, 1) !important;
      }
   }
}
.hern-login-v1__otp__phone__input-valid {
   input {
      &:focus {
         outline: 1px solid #6ecb63 !important;
      }
   }
}
.hern-login-v1__otp__error {
   align-self: center;
   display: block;
   margin-top: 0.5rem;
   color: rgba(239, 68, 68, 1);
}

.hern-login-v1__otp__resend__time {
   display: flex;
   margin-top: 0.5rem;
   text-align: center;
}
.hern-login-v1__otp__resend {
   margin-top: 0.5rem;
   border-radius: 0.25rem;
   width: 100%;
   height: 2.5rem;
   // text-transform: uppercase;
   color: #367bf5;
   // letter-spacing: 0.05em;
   border-radius: 20px;
   outline: none !important;
   &:hover {
      border: 1px solid #367bf5 !important;
   }
}

.hern-login-v1__otp__resend--disabled {
   cursor: not-allowed;
   &:hover {
      background: #fff;
   }
}

.hern-login-v1__footer {
   margin-top: 3em;
   display: flex;
   justify-content: center;
   align-items: center;
   > span {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;
      color: #404040;
      font-weight: 400;
   }
}
.hern-login-v1__create-one-btn {
   color: #367bf5;
   outline: none !important;
   background: transparent;
   font-size: 14px;
   line-height: 18px;
   font-weight: 600;
   margin-left: 2px;
}

.hern-forgot-password-v1 {
   margin: 1em;
}

.hern-forgot-password-v1__submit-btn {
   margin-top: 2.5em;
   width: 100%;
   border-radius: 20px;
   background-color: #367bf5 !important;
   transform: none !important;
   box-shadow: none !important;
   color: #ffffff;
}
.hern-forgot-password-v1__submit-btn--disabled {
   background: #367bf580 !important;
   cursor: not-allowed;
}

.hern-signup-v1 {
   margin: 1em;
}

.hern-signup-v1__password-config {
   display: flex;
   align-items: center;
   > span {
      font-weight: 600;
      font-size: 14px;
      line-height: 18px;
      margin: 0 9px;
   }
}

.hern-signup-v1__signup-error {
   align-self: flex-start;
   margin-bottom: 0.5rem;
   display: block;
   color: rgba(239, 68, 68, 1);
   font-size: 12px;
}

.hern-signup__referral-code {
   align-self: flex-start;
   margin-bottom: 0.25rem;
   color: #367bf5;
}

.hern-signup-v1__signup__term {
   align-self: flex-start;
   margin-top: 0.5rem;
   margin-bottom: 0.75rem;
}

.hern-signup-v1__signup__term__checkbox {
   margin-right: 0.5rem;
}

.hern-signup__signup__term__link {
   color: #367bf5;
}

.hern-signup-v1__referral-code {
   color: #367bf5;
   cursor: pointer;
   outline: none !important;
}

.hern-signup-v1__signup__submit {
   width: 100%;
   border-radius: 20px !important;
   color: #ffffff;
   height: 40px;
   outline: none !important;
   background-color: #367bf5 !important;
}

.hern-signup-v1__signup__submit--disabled {
   background: #367bf580 !important;
   cursor: not-allowed;
}

.hern-signup-v1__signup__email-already-exits {
   margin-bottom: 1rem;
   color: rgba(75, 85, 99, 1);
}

.hern-signup-v1__signup__login-switch {
   align-self: flex-start;
   margin-top: 0.5rem;
   color: #367bf5;
   outline: none !important;
}

.hern-signup-v1__signup__forgot-text {
   color: rgba(5, 150, 105, 1);
   margin-top: 0.75rem;
}

.hern-login-v1__social__login {
   margin: 1em;
}
.hern-login-v1__social__login__providers {
   display: flex;
   justify-content: center;
   align-items: center;
}
.hern-login-v1__social__login__provider {
   margin: 0 0.5em;
}
@media only screen and (min-width: 769px) {
   .hern-login-v1-container {
      background-color: rgb(251, 252, 246);
      display: flex;
      justify-content: center;
   }
   .hern-login-v1-content {
      padding: 0;
      width: 28em;
      background-color: #ffffff;
   }
}
