.hern-loyalty-points {
   padding: 8px 0;
   border-radius: 2px;
   margin: 16px 0;
}
.hern-loyalty-points__status {
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.hern-loyalty-points__close-btn {
   color: #ff5a52;
   font-size: 18px;
   cursor: pointer;
   margin: 0 7px;
}
.hern-loyalty-points__form {
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 8px;
}

.hern-loyalty-points__help {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 10px 0;
   > small {
      font-family: Nunito;
      font-style: italic;
      font-weight: 600;
      font-size: 14px;
      line-height: 14px;
      color: rgba(64, 64, 64, 0.6);
   }
   > p {
      font-family: Nunito;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 20px;
      color: #404040;
      display: flex;
      align-items: center;
   }
}
.loyalty-points__tooltip {
   position: relative;
   float: right;
   margin-left: 0.5rem;
   margin-top: 0.25rem;
   p {
      display: none;
      min-width: -webkit-max-content;
      min-width: -moz-max-content;
      min-width: max-content;
      background-color: rgba(229, 231, 235, 1);
      padding: 0.25rem;
      position: absolute;
      left: 0.5rem;
      border-radius: 0.25rem;
      z-index: 1;
   }
   &:hover p {
      display: block;
   }
}

.hern-loyalty-points__input {
   display: block;
   background: #f4f4f4;
   border-radius: 8px;
   padding: 10px;
   width: 100%;
   background: #f9f9f9;
   box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
   border-radius: 4px;
}
.hern-loyalty-points__label {
   display: block;
}
.hern-loyalty-points__submit-btn {
   background: #b8238f;
   color: #fff;
   border-radius: 2px;
   padding: 4px;
}
.hern-loyalty-points__label-v2 {
   font-weight: 600;
   font-size: 20px;
   line-height: 22px;
   color: rgba(64, 64, 64, 0.8);
   margin: 0 10px;
}
.hern-loyalty-points-v2 {
   border: none !important;
}

.hern-loyalty-points-header__tunnel {
   display: flex;
   justify-content: space-between;
   background-color: #f3f3f3;
   border-radius: 12px;
   padding: 12px;
   margin: 12px 0;
   > div {
      display: flex;
      align-items: center;
      > span {
         margin-right: 16px;
         display: inline-block;
         padding: 8px 0;
         background-color: var(--hern-accent);
         border-radius: 12px;
      }
   }
   button {
      display: flex;
      border: none;
      outline: none;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: var(--hern-accent);
      align-items: center;
      > span {
         display: inline-block;
         margin-right: 4px;
      }
   }
   h4 {
      font-weight: 600;
      font-size: 20px;
      line-height: 20px;
      color: #404040;
      margin-bottom: 4px;
   }
}
