.hern-product-card {
   padding-top: 0.67em;
   padding-bottom: 0.67em;
   margin-bottom: 0.5rem;
   padding-left: 1em;
   padding-right: 1em;
   position: relative;
   height: 100%;
   display: flex;
   flex-direction: column;
   box-shadow: 0px 1px 8px 0px rgb(0 0 0 / 5%);
   @media (max-width: 479px) {
      display: flex;
      flex-direction: row;
      gap: 16px;
   }
}

.hern-product-card:hover {
   box-shadow: 0px 1px 8px 0px rgb(188 185 185);
}

.hern-product-card-image-container {
   position: relative;
   margin-bottom: 12px;
   @media (max-width: 479px) {
      width: 120px;
      display: inline-block;
      padding-top: 20px;
   }
   > ul {
      padding: 0;
      margin: 10px 0 0 0;
   }
   .hern-product-card-slider-indicator {
      margin: 0 4px;
      width: 8px;
      height: 8px;
      background: #40404099;
      border-radius: 4px;
   }
   .hern-product-card-slider-indicator.active {
      background: #404040;
   }
   .hern-product-card-on-image-icon {
      position: absolute;
      top: 0.5em;
      right: 0.5em;
      cursor: pointer;
      @media (max-width: 479px) {
         padding-top: 20px;
      }
   }
}
.hern-product-card-image-background {
   position: absolute;
   width: 100%;
   /* The image used */
   //   background-image: ${(props) => `url(${props.src})`};

   filter: blur(10px);
   -webkit-filter: blur(8px);
   height: 175px;
   z-index: -1;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   border-radius: 3px;
   > img {
      border-radius: 2px;
   }
}
.hern-product-card-image-background--aspect-ratio {
   height: 100% !important;
}

.hern-product-card__image {
   border-radius: 5px;
   object-fit: contain;
   width: 100%;
   height: 180px;
   z-index: 5;
}
.hern-product-card__image--aspect-ratio {
   aspect-ratio: 1/1;
   height: auto !important;
}
.hern-product-card-content {
   margin-top: 6px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   box-sizing: border-box;
   border-radius: 2px;
   padding-bottom: 0.5rem;
   width: 100%;
   flex: 1 1 auto;
   // min-height: 220px;
   @media (max-width: 479px) {
      padding: 15px;
      // flex: 1 1 auto;
   }
}
.hern-product-card-content--custom-area-not-flex {
   // display: block !important;
   @media (max-width: 479px) {
      display: inline !important;
   }
}
.hern-product-card-additional-icon {
   position: relative;
   top: 3px;
   margin-right: 10px;
}
.hern-product-card-details {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   // align-items: center;
   align-items: flex-start;
   margin-bottom: 6px;
   height:min-content;
}
.hern-product-card-title {
   display: flex;
   flex-direction: column;
   align-content: center;
   flex-basis: 70%;
   .hern-product-card__name {
      max-width: 15em;
      font-weight: 700;
      font-size: 18px;
      line-height: 20px;
      //for adding ellipsis if more than 2 lines
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: initial;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      @media (max-width: 479px) {
         font-size: 16px;
      }
   }
   .hern-product-card-productOption-label {
      color: rgba(64, 64, 64, 0.8);
      font-style: italic;
      font-weight: normal;
      font-size: 14px;
   }
   .hern-product-card-show-image-icon {
      margin-left: 10px;
      cursor: pointer;
   }
}
.hern-product-card__price {
   font-weight: 400;
   font-size: 16px;
   line-height: 16px;
   margin-bottom: 4px;
   margin-top: 4px;
   @media (max-width: 479px) {
      font-size: 14px;
   }
}
.hern-product-card__additional-text {
   font-weight: normal;
   font-size: 12px;
   line-height: 14px;
   color: rgba(64, 64, 64, 0.8);
   max-width: 20em;
   margin-bottom: 6px;
   margin-top: auto;
}
.hern-product-card-custom-area {
   // position: absolute;
   display: flex;
   flex-direction: column;
   height: auto;
   min-width: 60px;
   right: 1em;
   // align-items: center;
   @media (max-width: 479px) {
      // align-items: flex-end;
   }
   // margin-left: 2.5em;
}
.hern-product-card-custom-text {
   font-weight: normal;
   font-size: 10px;
   line-height: 12px;
   color: rgba(64, 64, 64, 0.6);
   margin-top: 4px;
}
.hern-product-card__description {
   color: #40404099;
   padding-bottom: 16px;
   font-weight: 600;
   margin-top: auto;
   margin-bottom: auto;
   cursor: default;
   @media (max-width: 479px) {
      line-height: 12px;
      font-size: 10px;
   }
}
