.hern-steps-navbar {
   height: 200px;
   width: 100%;
   color: #fff;
   > div {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   @media (max-width: 767px) {
      display: unset;
      height: auto;
   }
}
.hern-steps-navbar__brand {
   text-decoration: none;
   height: 100%;
   padding: 12px;
   display: flex;
   align-items: center;
   color: rgba(31, 41, 55, 1);
}
.hern-steps-navbar__brand__img {
   height: 4rem;
}
.hern-steps-navbar__brand__text {
   margin-left: 0.5rem;
}
.hern-steps-navbar__progress {
   max-width: 600px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin: auto;
   @media (max-width: 767px) {
      display: none;
   }
}
.hern-steps-navbar__progressbar {
   margin: 8px auto;
   width: calc(100% - 128px);
   background-color: rgba(229, 231, 235, 1);
   height: 0.5rem;
   border-radius: 0.25rem;
   position: relative;
}
.hern-steps-navbar__progressbar__before {
   top: 0;
   left: 0;
   height: inherit;
   position: absolute;
   background-color: rgba(5, 150, 105, 1);
   border-radius: 0.25rem;
   -webkit-border-radius: 0.25rem;
   -moz-border-radius: 0.25rem;
   -ms-border-radius: 0.25rem;
   -o-border-radius: 0.25rem;
}
.hern-steps-navbar__progressbar__after {
   top: -4px;
   width: 16px;
   height: 16px;
   position: absolute;
   background-color: rgba(5, 150, 105, 1);
   border-radius: 9999px;
   -webkit-border-radius: 9999px;
   -moz-border-radius: 9999px;
   -ms-border-radius: 9999px;
   -o-border-radius: 9999px;
}

.hern-steps-navbar__steps {
   width: 100%;
   display: grid;
   grid-template-columns: repeat(4, minmax(0, 1fr));
}
.hern-steps-navbar__step {
   position: relative;
   display: flex;
   align-items: center;
   > div {
      box-shadow: 0px 0px 6.33342px rgba(0, 0, 0, 0.1);
      border-radius: 50%;
      background-color: #fff;
   }

   > div > span {
      white-space: nowrap;
      overflow: hidden;
      position: absolute;
      left: 0;
      color: #b1b1b1;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 18px;
      margin-top: 6px;
   }
   .hern-steps-navbar__step__icon {
      height: 60px;
      width: 60px;
      border-radius: 50%;
      background-color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 6px;
   }
}

.hern-steps-navbar__step--active {
   @extend .hern-steps-navbar__step;
   color: rgba(75, 85, 99, 1);
   cursor: pointer;
   .hern-steps-navbar__step__icon {
      background-color: var(--hern-accent);
   }
   .hern-steps-navbar__step__tail {
      background-color: var(--hern-accent);
   }
   > div > span {
      color: #3f4441;
   }
}

.hern-steps-navbar__logout {
   padding: 0 1rem;
   margin-left: auto;
}
.hern-steps-navbar__logout__btn {
   border: 0.3px solid #3f4441;
   border-radius: 2px;
   padding: 0.25rem 1rem;
   color: #3f4441;
   border-radius: 0.25rem;
   -webkit-border-radius: 0.25rem;
   -moz-border-radius: 0.25rem;
   -ms-border-radius: 0.25rem;
   -o-border-radius: 0.25rem;
   font-weight: 500;
}

.hern-steps-navbar__step__tail {
   color: #fff;
   display: inline-block;
   height: 6px;
   width: 100px;
   box-shadow: 0px 0px 7.16509px rgba(0, 0, 0, 0.09);
   border-radius: 2.68691px;
}
