.hern-steps-navbar {
   width: 100%;
   color: #fff;
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 1.5rem;
   padding: 0.5rem 1rem;
   // > div {
   //    display: flex;
   //    justify-content: space-between;
   //    align-items: center;
   // }
   // @media (max-width: 767px) {
   //    display: unset;
   //    height: auto;
   // }
}
.hern-steps-navbar__brand {
   text-decoration: none;
   height: 100%;
   display: flex;
   align-items: center;
   color: rgba(31, 41, 55, 1);
}
.hern-steps-navbar__brand__img {
   max-height: 48px;
   width: auto;
   > img {
      height: 100%;
      width: 100%;
   }
}
.hern-steps-navbar__brand__text {
   margin-left: 0.5rem;
}
.hern-steps-navbar__progress {
   // max-width: 600px;
   // display: flex;
   // flex-direction: column;
   // justify-content: center;
   // margin: auto;
   @media (max-width: 768px) {
      display: none;
   }
}
.hern-steps-mobile-navbar__progress {
   @media (min-width: 768px) {
      display: none;
   }
}
.hern-steps-navbar__progressbar {
   margin: 8px auto;
   width: calc(100% - 128px);
   background-color: rgba(229, 231, 235, 1);
   height: 0.5rem;
   border-radius: 0.25rem;
   position: relative;
}
.hern-steps-navbar__progressbar__before {
   top: 0;
   left: 0;
   height: inherit;
   position: absolute;
   background-color: rgba(5, 150, 105, 1);
   border-radius: 0.25rem;
}
.hern-steps-navbar__progressbar__after {
   top: -4px;
   width: 16px;
   height: 16px;
   position: absolute;
   background-color: rgba(5, 150, 105, 1);
   border-radius: 9999px;
}

.hern-steps-navbar__steps {
   width: 100%;
   display: grid;
   grid-template-columns: repeat(4, minmax(0, 1fr));
}
.hern-steps-navbar__step {
   position: relative;
   display: flex;
   align-items: center;
   // height: 36px;
   // width: 36px;
   > div {
      height: 48px;
      width: 48px;
      box-shadow: 0px 0px 6.33342px rgba(0, 0, 0, 0.1);
      border-radius: 50%;
      background-color: #fff;
   }

   > div > span {
      position: absolute;
      left: 0;
      color: #b1b1b1;
      margin-top: 4px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 15px;
      color: rgba(51, 51, 51, 0.8);
   }
   .hern-steps-navbar__step__icon {
      border-radius: 50%;
      background-color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 4px;
      > svg {
         height: 100%;
         width: 100%;
      }

      @media (max-width: 768px) {
         margin: 0;
      }
   }
}

.hern-steps-mobile-navbar__step {
   @extend .hern-steps-navbar__step;

   > div {
      height: 8px;
      width: 8px;
      box-shadow: 0px 0px 6.33342px rgba(0, 0, 0, 0.1);
      border-radius: 50%;
      background-color: rgba(17, 130, 59, 0.2);
   }

   > div > span {
      position: absolute;
      left: 0;
      color: #b1b1b1;
      margin-top: 4px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 500;
      font-size: 8px;
      line-height: 15px;
      color: rgba(51, 51, 51, 0.8);
   }
}

.hern-steps-navbar__step--active {
   @extend .hern-steps-navbar__step;
   color: rgba(75, 85, 99, 1);
   cursor: pointer;
   .hern-steps-navbar__step__icon {
      background-color: var(--hern-accent);
   }
   .hern-steps-navbar__step__tail {
      background-color: var(--hern-accent);
   }
   > div > span {
      color: #3f4441;
   }
}

.hern-steps-mobile-navbar__step--active {
   @extend .hern-steps-navbar__step--active;

   > div > span {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 500;
      font-size: 8px;
      color: rgba(51, 51, 51, 0.8);
   }
}

.hern-steps-navbar__logout {
   //padding: 0 1rem;
   // margin-left: auto;
}
.hern-steps-navbar__logout__btn {
   border: 0.3px solid #3f4441;
   border-radius: 2px;
   padding: 0.25rem 1rem;
   color: #3f4441;
   border-radius: 0.25rem;
   font-weight: 500;
}

.hern-steps-navbar__step__tail {
   color: #fff;
   display: inline-block;
   height: 6px;
   width: 100px;
   box-shadow: 0px 0px 7.16509px rgba(0, 0, 0, 0.09);
   border-radius: 2.6px;
   @media only screen and (max-width: 768px) {
      width: 48px;
   }
}

.hern-steps-mobile-navbar__step__tail {
   @extend .hern-steps-navbar__step__tail;
   @media only screen and (max-width: 768px) {
      width: 88px;
      height: 1px;
      background-color: rgba(17, 130, 59, 0.2);
   }
}
