.hern-tunnel {
   z-index: 1000;
   position: fixed;
   top: 0px;
   right: 0px;
   bottom: 0px;
   left: 0px;
   background: rgba(0, 0, 0, 0.2);
}
.hern-tunnel__body {
   padding: 16px 16px 80px 16px;
}

.hern-tunnel__wrapper {
   background: #fff;
   position: absolute;
   overflow-y: auto;
}

.hern-tunnel__popup--full {
   top: 32px;
   right: 32px;
   bottom: 32px;
   left: 32px;
   border-radius: 12px;
   @media only screen and (max-width: 568px) {
      top: 32px;
      right: 16px;
      bottom: 16px;
      left: 16px;
      border-radius: 12px;
   }
}
.hern-tunnel__popup--lg {
   top: 32px;
   right: 0;
   bottom: 56px;
   left: 0;
   max-width: 850px;
   margin: 0 auto;
   border-radius: 12px;
   @media only screen and (max-width: 1024px) {
      max-width: 600px;
   }
   @media only screen and (max-width: 568px) {
      top: 32px;
      right: 16px;
      bottom: 16px;
      left: 16px;
      border-radius: 12px;
   }
}
.hern-tunnel__popup--md {
   top: 32px;
   right: 0;
   bottom: 48px;
   left: 0;
   max-width: 600px;
   margin: 0 auto;
   border-radius: 12px;
   @media only screen and (max-width: 568px) {
      top: 80px;
      right: 16px;
      bottom: 16px;
      left: 16px;
      border-radius: 12px;
   }
}
.hern-tunnel__popup--sm {
   top: 0;
   bottom: 0;
   left: 0;
   width: 380px;
   margin: 0 auto;
   @media only screen and (max-width: 568px) {
      top: 0;
      bottom: 0;
      left: 0;
   }
}

$variants: (
   'full': 100%,
   'lg': 75%,
   'md': 50%,
   'sm': 25%,
);

@each $name, $size in $variants {
   .hern-tunnel__top--#{$name} {
      right: 0;
      left: 0;
      width: 100%;
      height: $size;
   }
}
@each $name, $size in $variants {
   .hern-tunnel__bottom--#{$name} {
      right: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      height: $size;
   }
}
@each $name, $size in $variants {
   .hern-tunnel__left--#{$name} {
      top: 0;
      bottom: 0;
      left: 0;
      height: 100%;
      width: $size;
   }
}
@each $name, $size in $variants {
   .hern-tunnel__right--#{$name} {
      top: 0;
      bottom: 0;
      right: 0;
      height: 100%;
      width: $size;
   }
}

.hern-tunnel__header {
   height: 64px;
   display: flex;
   align-items: center;
   padding: 1rem 2rem;
}
.hern-tunnel__header__title {
   font-size: 1.2rem;
   margin-left: .5rem;
   font-weight: 600;
}

.hern-tunnel__ant {
   .ant-drawer {
      top: 64px;
   }
   .ant-drawer-mask {
      top: 64px;
   }
   .ant-drawer-content-wrapper {
      height: calc(100vh - 64px);
      top: 64px;
   }
   @media only screen and (max-width: 600px) {
      .ant-drawer-content-wrapper {
         width: 100% !important;
      }
   }
}
.hern-tunnel__ant__bottom {
   .ant-drawer-content-wrapper {
      height: calc(100vh - 64px) !important;
   }
}
