.hern-user-address-list__address {
   display: flex;
   flex-direction: column;
   margin: 7px 14px;
   padding: 0 14px;
   background: #ffffff;
   box-sizing: border-box;
   box-shadow: 0px 1px 8px rgb(0 0 0 / 5%);
   border-radius: 6px;
}
.hern-user-address-list__address--active {
   border: 1px solid #38a169;
}
@media (min-width: 768px) {
   .hern-user-address-lists {
      height: 34rem;
      overflow: auto;
   }
}
