.hern-cart-billing__header {
   margin-top: 0.75rem;
   margin-bottom: 0.75rem;
   height: 2.5rem;
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-align-items: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: justify;
   -webkit-justify-content: space-between;
   -ms-flex-pack: justify;
   justify-content: space-between;
}
.hern-cart-billing__heading {
   font-size: 1.125rem;
   line-height: 1.75rem;
   color: rgba(55, 65, 81, 1);
}
.hern-cart-billing__toggle-btn {
   border-width: 1px;
   width: 2rem;
   height: 1.5rem;
   border-radius: 9999px;
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-align-items: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: center;
   -webkit-justify-content: center;
   -ms-flex-pack: center;
   justify-content: center;
   border-color: rgba(16, 185, 129, 1);
   &:focus {
      outline: none;
   }
}
.hern-cart-billing__early-pay-btn {
   height: 2.5rem;
   width: 100%;
   border-radius: 0.25rem;
   text-align: center;
   color: rgba(5, 150, 105, 1);
   -webkit-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
}
.hern-cart-billing__early-pay-btn--disabled {
   height: 2.5rem;
   width: 100%;
   border-radius: 0.25rem;
   text-align: center;
   -webkit-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   cursor: not-allowed;
   color: rgba(75, 85, 99, 1);
   background-color: rgba(229, 231, 235, 1);
}
