.hern-cart-billing__header {
   margin-top: 0.75rem;
   margin-bottom: 0.563rem;
   height: 2.5rem;
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-align-items: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
}
.hern-cart-billing__heading {
   font-size: 0.98rem;
   font-family: inherit;
   line-height: 1.75rem;
   color: #3f4441;
   font-weight: 400;
   margin-right: 7px;

   .hern-cart-billing__amount {
      font-weight: 600;
      font-size: 1.167rem;
   }
}
.hern-cart-billing__toggle-btn {
   &:focus {
      outline: none;
   }
}
.hern-cart-billing__early-pay-btn {
   height: 2.5rem;
   width: 100%;
   border-radius: 0.25rem;
   text-align: center;
   color: rgba(5, 150, 105, 1);
   -webkit-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
}
.hern-cart-billing__early-pay-btn--disabled {
   height: 2.5rem;
   width: 100%;
   border-radius: 0.25rem;
   text-align: center;
   -webkit-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   cursor: not-allowed;
   color: rgba(75, 85, 99, 1);
   background-color: rgba(229, 231, 235, 1);
}
