.hern-cart-fulfillment {
   margin-top: 0.75rem;
}
.hern-cart-fulfillment__heading {
   font-size: 1.125rem;
   line-height: 1.75rem;
   color: rgba(55, 65, 81, 1);
   border-bottom-width: 1px;
   margin-bottom: 0.5rem;
}
.hern-cart-fulfillment__check-icon {
   -webkit-flex-shrink: 0;
   -ms-flex-negative: 0;
   flex-shrink: 0;
   height: 2.5rem;
   width: 2.5rem;
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-align-items: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: center;
   -webkit-justify-content: center;
   -ms-flex-pack: center;
   justify-content: center;
}
.hern-cart-fulfillment__fulfillment-option {
   padding-top: 0.5rem;
   padding-bottom: 0.5rem;
   padding-right: 0.5rem;
   border-radius: 0.25rem;
   cursor: pointer;
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-align-items: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   border-width: 1px;
   color: rgba(55, 65, 81, 1);
   position: relative;
   margin-bottom: 0.5rem;
   &:hover {
      border-width: 2px;
      border-color: rgba(5, 150, 105, 1);
      svg {
         color: rgba(4, 120, 87, 1);
      }
   }
}
.hern-cart-fulfillment__fulfillment-option--active {
   border-width: 2px;
   border-color: rgba(5, 150, 105, 1);
}
.hern-cart-fulfillment__pickup-details {
   color: rgba(107, 114, 128, 1);
   font-size: 0.875rem;
   line-height: 1.25rem;
}
.hern-cart-fulfillment__delivery-details {
   color: rgba(107, 114, 128, 1);
   font-size: 0.875rem;
   line-height: 1.25rem;
}
.hern-cart-fulfillment__change-btn {
   color: rgba(4, 120, 87, 1);
   position: absolute;
   top: 0.25rem;
   right: 0.25rem;
   font-size: 0.875rem;
   line-height: 1.25rem;
}
