.hern-cart-fulfillment {
   margin-top: 0.75rem;
   > section {
      border: 1px solid rgba(51, 51, 51, 0.1);
      border-radius: 8px;
      padding: 12px;
   }
}
.hern-cart-fulfillment__heading {
   font-family: 'Inter';
   font-style: normal;
   font-weight: 500;
   font-size: 1rem;
   line-height: 19px;
   color: rgba(51, 51, 51, 0.8);
   border-bottom: 1px solid rgba(51, 51, 51, 0.4);
   margin-bottom: 0.75rem;
   margin-top: 2rem;
   padding-bottom: 0.75rem;
}

.hern-cart-fulfillment__delivery-heading,
.hern-cart-fulfillment__pickup-heading {
   font-family: 'Inter';
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   line-height: 15px;
   color: rgba(51, 51, 51, 0.6);
   margin-bottom: 0.5rem;
}
.hern-cart-fulfillment__check-icon {
   // -webkit-flex-shrink: 0;
   // -ms-flex-negative: 0;
   // flex-shrink: 0;
   // height: 2.5rem;
   // width: 2.5rem;
   // display: -webkit-box;
   // display: -webkit-flex;
   // display: -ms-flexbox;
   // display: flex;
   // -webkit-align-items: center;
   // -webkit-box-align: center;
   // -ms-flex-align: center;
   // align-items: center;
   // -webkit-box-pack: center;
   // -webkit-justify-content: center;
   // -ms-flex-pack: center;
   // justify-content: center;
   display: inline-block;
   margin-right: 7px;
}
.hern-cart-fulfillment__fulfillment-option {
   background: #f9f9f9;
   box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.08);
   border-radius: 8px;
   padding: 12px;
   margin-bottom: 12px;
   position: relative;
   &:last-child {
      margin-bottom: 0;
   }
   &:hover {
      border-width: 1px;
      border-color: var(--hern-accent);
      svg {
         color: var(--hern-accent);
      }
   }
}
.hern-cart-fulfillment__fulfillment-option--active {
   border-width: 1px;
   border-color: var(--hern-accent);
   background-color: #ffffff;
   border-radius: 5px;
}
.hern-cart-fulfillment__delivery-details-wrapper {
   font-family: 'Inter';
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   line-height: 17px;
}

.hern-cart-fulfillment__delivery-details-wrapper:last-child {
   margin-bottom: 0;
}

.hern-cart-fulfillment__pickup-details {
   color: rgba(107, 114, 128, 1);
   font-size: 0.875rem;
   line-height: 1.25rem;
}
.hern-cart-fulfillment__delivery-details,
.hern-cart-fulfillment__pickup-details {
   font-family: 'Inter';
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   line-height: 17px;
   color: rgba(51, 51, 51, 0.4);
}

.hern-cart-fulfillment__change-btn {
   color: var(--hern-accent);
   position: absolute;
   top: 0.75rem;
   right: 0.75rem;
   font-size: 0.875rem;
   line-height: 1.25rem;
   cursor: pointer;
}
.hern-cart__store-arrow {
   position: absolute;
   bottom: calc(50% - 42px);
   z-index: 1000;
   color: #fff;
   background: #367bf599;
   stroke: currentColor;
   border-radius: 50%;
   cursor: pointer;
}
.hern-cart__store-arrow-left {
   left: -10px;
}
.hern-cart__store-arrow-right {
   right: -10px;
}
.hern-fulfillment-consumer-address {
   margin: 0 6px;
   position: relative;
   padding: 10px;
   border: 2px solid rgba(107, 114, 128, 1);
   border-radius: 10px;
   p {
      margin: 0;
   }
}
.hern-cart__fulfillment-change-btn {
   display: none;
   @media (min-width: 769px) {
      display: unset;
   }
}
.hern-cart__fulfillment-change-edit-icon {
   display: unset;
   @media (min-width: 769px) {
      display: none;
   }
}
.hern-cart__fulfillment-close-icon {
   display: unset;
   @media (min-width: 769px) {
      display: none;
   }
}
.hern-fulfillment__address {
   background: #ffffff;
   margin-bottom: 16px;
   padding: 12px 16px;
}

.hern-fulfillment__address__header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   .hern-location-icon-shawdow {
      padding: 5px;
      border-radius: 50%;
      background: #ffffff;
      box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.05);
      display: inline-block;
   }
   > div {
      display: flex;
      align-items: center;
   }
   h3 {
      font-weight: 600;
      font-size: 18px;
      line-height: 16px;
      color: rgba(64, 64, 64, 0.6);
      font-family: 'Nunito';
   }
   @media only screen and (max-width: 767px) {
      display: none;
   }
}
.hern-fulfillment__address__header--open {
   margin-bottom: 12px;
   border-bottom: 1px solid #f4f4f4;
   padding-bottom: 16px;
}

.hern-fulfillment__address__content {
   display: flex;
   > span {
      font-weight: 600;
      font-size: 16px;
      line-height: 16px;
      color: rgba(64, 64, 64, 0.6);
      display: inline-block;
      margin-right: 10px;
   }
   address {
      font-size: 16px;
      line-height: 20px;
      color: rgba(64, 64, 64, 0.6);
      margin: 0;
      padding-left: 10px;
      font-weight: bold;
      max-width: 500px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
   }
   @media only screen and (max-width: 767px) {
      > span {
         font-size: 14px;
         white-space: nowrap;
      }
      address {
         font-size: 14px;
      }
      button {
         font-size: 14px;
      }
   }
}
.hern-fulfillment__address__content__change-btn {
   border: none;
   outline: none;
   color: var(--hern-accent);
   margin-left: auto;
   font-weight: bold;
   font-size: 16px;
   line-height: 16px;
   &:disabled {
      cursor: not-allowed;
      color: rgba(64, 64, 64, 0.637);
   }
}
.hern-fulfillment__time {
   background: #ffffff;
   margin-bottom: 16px;
   padding: 12px 16px;
}
.hern-fulfillment__time__header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   .hern-time-icon-shawdow {
      padding: 5px;
      border-radius: 50%;
      background: #ffffff;
      box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.05);
      display: inline-block;
   }
   > div {
      display: flex;
      align-items: center;
   }
   h3 {
      font-weight: 600;
      font-size: 18px;
      line-height: 16px;
      color: rgba(64, 64, 64, 0.6);
      font-family: 'Nunito';
   }
   @media only screen and (max-width: 767px) {
      display: none;
   }
}
.hern-fulfillment__time__header--open {
   margin-bottom: 12px;
   border-bottom: 1px solid #f4f4f4;
   padding-bottom: 16px;
}
.hern-on-demand-cart__payment-section__content__header--disabled {
   opacity: 0.7;
}

.hern-cart__make-payment-btn {
   position: fixed;
   bottom: 0;
   left: 0;
   right: 0;
   padding: 16px 0;
   background-color: var(--hern-accent);
   font-weight: 600;
   text-align: center;
   width: 100%;
   color: #fff;
   // z-index: 999;
   font-size: 16px;
}

.hern-cart__place_order {
   margin-top: 15px;
   font-size: 16px;
}

.hern-on-demand-cart__payment-section__header--tunnel {
   display: flex;
}
@media only screen and (max-width: 767px) {
   .hern-fulfillment__time {
      position: fixed;
      bottom: var(--fufillment-time-section-bottom);
      left: 0;
      margin-bottom: 0;
      right: 0;
      z-index: 1;
      top: var(--fufillment-time-section-top);
      overflow-y: auto;
      padding: 0;
   }
   .hern-fulfillment__address {
      position: fixed;
      bottom: var(--fufillment-address-section-bottom);
      left: 0;
      margin-bottom: 0;
      right: 0;
      z-index: 1;
   }
   .hern-user-info--closed {
      position: fixed;
      bottom: var(--user-info-section-bottom);
      left: 0;
      margin-bottom: 0;
      right: 0;
      z-index: 1;
   }
}
