.hern-cart-payment-card {
   margin-top: 0.5rem;
}
.hern-cart-payment-card__heading {
   font-size: 1.125rem;
   line-height: 1.75rem;
   color: rgba(55, 65, 81, 1);
   border-bottom-width: 1px;
   margin-bottom: 0.5rem;
}
.hern-cart-payment-card__option {
   padding: 0.5rem;
   border-radius: 0.25rem;
   border-width: 1px;
   color: rgba(55, 65, 81, 1);
   position: relative;
}
.hern-cart-payment-card__option--active {
   border-width: 2px;
   border-color: rgba(5, 150, 105, 1);
}
.hern-cart-payment-card__card-holder-name {
   color: rgba(107, 114, 128, 1);
}
.hern-cart-payment-card__card-brand {
   font-size: 0.875rem;
   line-height: 1.25rem;
   color: rgba(107, 114, 128, 1);
   text-transform: uppercase;
}
.hern-cart-payment-card__change {
   color: rgba(4, 120, 87, 1);
   position: absolute;
   top: 0.25rem;
   right: 0.25rem;
   font-size: 0.875rem;
   line-height: 1.25rem;
   cursor: pointer;
}
.hern-cart-payment-card__not-available {
   font-size: 0.875rem;
   line-height: 1.25rem;
}
.hern-cart-payment-card__change-method-btn {
   color: rgba(59, 130, 246, 1);
   font-size: 0.875rem;
   line-height: 1.25rem;
   cursor: pointer;
}
