@use './components/button';
@use './components/layout';
@use './components/navbar';
@use './components/header';
@use './components/address_list';
@use './components/billing';
@use './components/card_list';
@use './components/cart_product';
@use './components/coupon';
@use './components/coupons_list';
@use './components/form';
@use './components/helper_bar';
@use './components/loader';
@use './components/loyalty_points';
@use './components/product_skeleton';
@use './components/spacer';
@use './components/steps-navbar';
@use './components/tunnel';
@use './components/wallet_amount';
@use './components/profile_sidebar';
@use './components/on_demand_menu.scss';
@use './components/product_card.scss';
@use './components/bottom_cart_bar.scss';
@use './components/divider.scss';
@use './components/modifier_popup.scss';
@use './components/counterBtn.scss';
@use './components/login_v1.scss';
@use './components/locationSelector.scss';
@use './components/kiosk.scss';
@use './components/fulfillmentcart.scss';
@use './components/userInfo.scss';
@use './components/userType.scss';
@use './components/refineLocation.scss';
@use './components/userAddressList.scss';
@use './components/googleSuggestionsList.scss';
@use './components/modifierOptionCard.scss';

@use './sections/register';
@use './sections/our-plans';
@use './sections/our-menu';
@use './sections/order-info';
@use './sections/select-delivery';
@use './sections/select-menu';
@use './cart/cart_billing';
@use './cart/fulfillment';
@use './cart/payment_card';
@use './sections/not-found';
@use './sections/terms-condition';
@use './sections/refund-policy';
@use './sections/forgot-password';
@use './sections/change-plan';
@use './sections/login';
@use './sections/inventory';
@use './sections/recipes';
@use './sections/placing-order';
@use './sections/order';
@use './sections/onDemandCart.scss';
@use './sections/kiosk/kiosk-section.scss';
@use './sections/slider-section.scss';
@use './sections/product-gallery.scss';
@use './sections/contact-us.scss';

/*Account routes pages*/
@use './sections/account/addresses';
@use './sections/account/cards';
@use './sections/account/account_loyalty_points';
@use './sections/account/orders';
@use './sections/account/referrals';
@use './sections/account/wallet';
@use './sections/account/profile';

@use './components/on_demand_cart_bar.scss';
@use './sections/product.scss';
@use './components/nutritition.scss';
@use './sections/privacy-policy.scss';
@use './components/order_history_Card.scss';
@use './components/cart_billing_details.scss';
@use './components/cart_card.scss';
@use './sections/testimonials.scss';
@use './sections/featured-coupon.scss';
